---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "922"
promotionName: "$150 Credit & SG Offer (922)"
customClass: "jm-150credit"
---

  <section class="header-background white-type text-center pink">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="padding">
                <img src="../assets/images/promos/jm-150credit-sg/150-sg-banner.png" alt="150 Free Power and Savings Guarantee over the year" title="150 Free Power and Savings Guarantee over the year" />
            </div>
        </div>
    </div>
</section>
<section class="light-grey mobile-white">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="row text-center padding white promo-body">
                <div class="small-12 small-centered medium-9 columns end">
                    <h2 class="medium-pink-type">We’ve got a great power deal we’d like to talk to you about!</h2>
                    <p class="big">
                        Switch your main home to Powershop, and we guarantee to save you money over your first year compared to your old power company. We’ll also kick-start your savings with $150 free power, spread over your first twelve months.
                    </p>
                    <p class="big">
                        Fill in your contact details below and a friendly Powershop rep will be in touch.
                    </p>
                </div>
            </div>
            <div class="row white promo-body">
                <div class="small-12 small-centered medium-6 columns end">

                      <script type="text/javascript" src="https://powershop.formstack.com/forms/js.php/egentic"></script><noscript><a href="https://powershop.formstack.com/forms/egentic" title="Online Form">Online Form - egentic edm</a></noscript>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="header-background light-grey">
    <div class="row">
        <div class="small-12 small-centered columns padding end"></div>
    </div>
</section>

<%= javascript_include_tag  "modules/contact_form_for_eg" %>
