---
title: "Mobile Changes - Powershop, a better power company"
customClass: "changes"
hidePowerYouCanLove: true
section: "none"
---

<section class="header white-type text-center hero-mobile">
  <h2 class="margin-zero">Mobile Changes</h2>
</section>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <p style="padding-top:20px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Mobile app changes</p>
            <h2 class="shopper-hl">We’ve made a pack of changes</h2>
            <p>We’re making some changes to the way we price our power to make it simpler and easier to understand. The fixed costs that were previously included within unit prices are being replaced by fixed daily charges.</p>
            <p>We’ve also made some changes to how we display Powerpacks and your usage in our mobile app. It’s all about making it easier to see the value of using Powershop. Watch the video to get a run-down of the changes.</p>
            <div class="vimeo">
              <div class='embed-container'>
                <img alt="play button" title="" class="play-btn" src="/assets/images/homes/play.min.svg" />
                <iframe sandbox="allow-same-origin allow-scripts" id="intro-video" src='https://player.vimeo.com/video/180108016' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="light-grey pink-line" style="padding:1em;background:#bc216b;text-align:center">
            <div class="row">
              <div class="changes-menu">
                  <b class="changes-item whitelnk">What’s new</b>
                  <a href="#balance" class="changes-item bluelnk">Balance Screen</a>
                  <a href="#whats-it-worth" class="changes-item bluelnk">The Shop</a>
                  <a href="#insights" class="changes-item bluelnk">Insights</a>
                  <a href="#help" class="changes-item bluelnk">NEW Help site</a>
              </div>
            </div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="balance">Balance Screen</h5>
            <h2 class="shopper-hl">Dollars or days ahead</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <img alt="mobile 1" class ="spacer" src="/assets/images/changes/mobile1.png" />
            <p>Inside the circle on the Balance screen we now tell you about how many dollars ahead or behind you are with the power you have bought, compared to the power you have used.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="mobile 2" class ="spacer" src="/assets/images/changes/mobile2.png" />
            <p>Tap the circle to see about how many days ahead or behind you are.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="whats-it-worth">The Shop</h5>
            <h2 class="shopper-hl">The bottom line</h2>
            <p>Beside each Powerpack below the circle we now tell you:</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" style="text-align:center">
            <img alt="days graph mobile" title="" src="/assets/images/changes/days-mobile.png" />
          </div>
          <div class="columns small-12 medium-5 end">
            <ul>
              <p><li>The <b>cost</b> of the pack (what you pay for it), and how much it’s <b>worth</b> (based on your Standard Power price). This makes it easier to see what you’re saving. Extra-special special packs (like your monthly Simple Saver) will also show you a percentage discount off Standard Power. Making the savings simpler!</li></p>
              <p><li>The cost of the pack is also shown in <b>dollars per day</b>, based on your current usage. Dollars per day is the new way to compare the value of different packs at the time you buy them. It also helps you budget.</li></p>
            </ul>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Powerpack details</h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>Tap each pack to go to the Powerpack details screen, where we’ll tell you how many <b>days of power</b> the pack should give you based on your current usage (which can change from day to day). You can also see this in the circle by adding the pack to your cart.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="powerpack" title="" src="/assets/images/changes/powerpack.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Keeping it fresh</a></h2>
            <p>We’ve freshened up our old Powerpacks and created some new ones, in different sizes to give you more choice.</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <img alt="mobile app 1" title="" src="/assets/images/changes/fresh-mobile1.png" />
            <p>Powerpacks <b>no longer have expiry dates.</b> </br>Fresher for longer!</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="mobile app 2" title="" src="/assets/images/changes/fresh2-mobile.png" />
            <p><b>Future Packs now come with a little discount</b> – so you can save as well as spread your power costs. The earlier you buy a Future Pack, the more you will save.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="insights">Insights</h5>
            <h2 class="shopper-hl">Knowledge is power</h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" style="text-align:center">
            <img alt="knowledge" title="" src="/assets/images/changes/knowledge-mobile.png" />
          </div>
          <div class="columns small-12 medium-5 end">
            <p>Below your Daily usage graphs we now tell you the dollar <b>cost per day</b>, and the <b>kWh (kilowatt hours)</b> of energy used per day. We don’t talk about units or cents per unit anymore.</p>
            <p>The bars in the Insights graph also let you see at a glance the <b>monthly dollar cost</b> of your power.
            </p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container"
    style="border-bottom: 4px solid #fa0e6a">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h5 style="padding-top:20px;font-weight:bold" id="help">NEW Help Site</h5>
            <h2 class="shopper-hl">Help is at hand</h2>
            <p>From Help in the app menu you can now also visit our <a href="http://help.powershop.co.nz/">new Help site</a> for all things Powershop.</p>
            <img alt="mobile help" title="" src="/assets/images/changes/help-mobile.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
      <p style="padding-top:20px;margin-left:50px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Mobile app changes</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
