.beta-test-pilot {
  background-color: lighten($bigbill-blue, 5%);
  padding: 30px;
  h2 {
    font-size: 2rem;
    line-height: 1em;
  }
  a {
    color: $blue;
  }
  .aviator svg {
    max-width: 70px;
    max-height: 70px;
    display: block;
    margin: 0 auto 20px auto
  }
  @media #{$large-up}  {
    h2, p {
      margin: 0;
    }
    .aviator svg {
      width: 100%;
      margin-bottom: 0;
    }
  }
}