---
title: "Moving premises? Powershop for Business -  Powershop, a better power company"
section: "business"
---
<div class="magenta" style="padding-bottom: 6rem;">
    <div class="row padding">
        <div class="small-12 columns text-center">
            <img src="/assets/images/business/moving-business.png" />
            <h2 class="white-type">Moving Premises</h2>
            <h4 class="white-type">Moving premises with Powershop is simple, it can all be done online in a few minutes.</h4>
        </div>
    </div>
</div>
<div class="row padding light-grey" style="margin-top: -6rem;">
    <div class="small-12 medium-5 medium-offset-1 columns">
        <h3>New customers</h3>
        <p>To switch to Powershop online all you need to do is:</p>
        <ul>
            <li>Complete the application form online</li>
            <li>Give us your payment details (credit card or bank account)</li>
            <li>Tell us your move in date</li>
        </ul>
        <p>We’ll contact your current supplier to arrange the transfer and ensure there is no disruption to your power supply. It typically takes a week to switch your supply. We’ll update you via email as your switch progresses.</p>
        <h4 style="padding-top:10px; padding-bottom:20px;"><a href="/switch-now/" class="button big-button switch">Switch now</a></h4>
    </div>
    <div class="small-12 medium-5 end columns">
        <h3>Existing Powershop customers</h3>
        <p>To move premises with Powershop you only need to:</p>
        <ul>
            <li><a href="https://secure.powershop.co.nz/my_settings/address">Login</a> to your Powershop account, select ‘Settings’, then ‘Address details’ and follow the simple instructions from there.</li>
            <li>Enter a final meter reading for your current property on the day you move or up to three days afterwards, or for a small fee we can do this for you. We can send you a reminder email and/or text message on your move out date to remind you to take a final meter reading. To receive this notification select this option when you login to move premises with Powershop.</li>
        </ul>
    </div>
</div>
<div class="row padding pink">
    <div class="small-12 columns text-center white-type">
        <p>You can also move premises by phoning our Business Team on 0800&nbsp;472&nbsp;952 and we will manage everything for you.</p>
    </div>
</div>
<div class="row padding padding-bottom-last">
    <div class="small-12 medium-6 medium-offset-3 columns text-center">
        <h3>Building a new premises</h3>
        <p>If you are connecting new premises for the first time phone our <span class="magenta-type" style="white-space:nowrap;">Customer Service Centre on 0800 472 952,</span> we’ll be happy to help.</p>
    </div>
</div>
