---
title: "Switch Utility Companies - Powershop, a better power company"
---

<section class="pink white-type">
    <div class="row padding">
        <div class="small-12 columns text-center">
            <img src="/assets/images/switch-now/pencil-winky.png" />
            <h1>Switch Now</h1>
        </div>
    </div>
</section>

<section class="what-you-need light-grey">
    <div class="row padding">
        <div class="small-12 medium-8 medium-offset-2 columns">
            <h2 class="text-center">What you need</h2>
            <ol>
                <li>Your payment details (credit card or bank&nbsp;account).</li>
                <li>A recent electricity bill (optional).</li>
            </ol>
            <p class="text-center"><a href="https://secure.powershop.co.nz/signup/" class="button">Start the switch</a></p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        if ($.cookie('promo'))  {
            var promo = $.cookie('promo');
            $('#switch_now').load('/p/' + promo + '/' + promo + '-switch-now.html');
        }
    });
</script>

<section class="light-grey">
    <div class="row padding">
        <div class="small-12 medium-5 medium-offset-1 columns">
            <h3>10-minute sign up</h3>
            <p>Fill in your details online and leave the rest to us. We’ll contact your old supplier for you.</p>
            <h3>60-day guarantee</h3>
            <p>After sign-up, you have 60 days to let us know if you are happy. If not, we’ll hook you back up with your old power company and refund any unused power.</p>
        </div>
        <div class="small-12 medium-5 end columns">
            <h3>Email updates</h3>
            <p>Your switch is usually complete within 2-3 business days, and always within ten. We’ll send you progress updates via email.</p>
            <h3>Sign up on the phone</h3>
            <p>Signing up online is a breeze, but if you prefer to talk to a person, give us a call on 0800 1000 60 (free call).</p>
        </div>
    </div>
</section>

<section>
    <div class="row padding padding-bottom-last">
        <div class="small-10 small-offset-1 columns">
            <div class="questions-answered">
                <h2 class="more">Top questions about switching</h2>
                <h4>We’ve answered <a href="/questions-answered/">some common questions here</a>.</h4>
            </div>
        </div>
    </div>
</section>

<%= javascript_include_tag  "third-party/jquery.cookie" %>
