---
title: "Refunds - Powershop, a better power company"
description: "If you have any questions about your account or would like to request a refund, please contact our customer service team on 0800 462 668."
section: "residential"
---

<section class="light-grey">
    <div class="row padding">
        <div class="small-12 medium-4 columns end">
            <h1>Refunds</h1>
        </div>
    </div>
</section>
<div class="row padding padding-bottom-last">
    <div class="small-12 columns end">
        <p><a href="/assets/pdfs/2013-06-21-Powershop-Refunds-Policy.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Refunds Policy &ndash; 21 June 2013 <small>(PDF 26kB)</small></a></p>
    </div>
</div>
