---
title: "Powershop for Business - Powershop, a better power company"
section: "business"
---

<div class="purple">
    <div style="display: block; top: 0%; background: #662244 url(/assets/images/business/havana-geoff.jpg) center 0 no-repeat;background-size: cover;">
        <div class="row business-banner">
            <div class="small-12 small-centered columns">
                <div class="right columns circle no-gutter white-type">
                    <h3 class="white-type text-center">Savings Quote Now</h3>

                    <script type="text/javascript" src="https://powershop.formstack.com/forms/js.php/business_lead_form"></script>
                    <noscript><a href="https://powershop.formstack.com/forms/business_lead_form" title="Online Form">Online Form - Business Lead Form V2.0</a></noscript>

                </div>
            </div>
            <h5 class="white-type">Geoff Marsland <span class="white-type">Co-owner of <a href="http://www.havana.co.nz/" target="_blank" rel="noopener noreferrer">Havana Coffee Works</a> and wonderful Powershop Business customer</span></h5>
        </div>
    </div>
</div>
<div class="white">
    <div class="row padding">
        <div class="small-12 columns text-center">
            <h2>Meet your dedicated account team</h2>
            <p>Your business will get personal service with its own dedicated account manager. Get in touch on <span class="pink-type">0800 472 952</span></p>
            <p class="smaller">9am – 5pm, Monday to Friday</p>
            <ul class="small-block-grid-2 medium-block-grid-4">
                <li>
                    <img style="border-radius:30em;" alt="Jasmine" src="/assets/images/business/business-crew-1.png" />
                    <p><em>Jasmine</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Mat" src="/assets/images/business/business-crew-2.png" />
                    <p><em>Mat</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Antony" src="/assets/images/business/business-crew-12.png" />
                    <p><em>Antony</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Euan" src="/assets/images/business/business-crew-5.png" />
                    <p><em>Euan</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Will" src="/assets/images/business/business-crew-8.png" />
                    <p><em>Will</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Connor" src="/assets/images/business/business-crew-9.png" />
                    <p><em>Connor</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Becky" src="/assets/images/business/business-crew-10.png" />
                    <p><em>Becky</em></p>
                </li>
                <li>
                    <img style="border-radius:30em;" alt="Jobi" src="/assets/images/business/business-crew-11.png" />
                    <p><em>Jobi</em></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="purple">
    <div class="row padding plans" data-equalizer>
        <div class="small-12 small-centered text-center columns end">
            <h2 class="white-type">Choose from two plans</h2>
            <p class="white-type">Choose the plan that suits your business needs</p>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="white columns plan-container" data-equalizer-watch>
                <p class="plan-number">Plan 1</p>
                <h2 class="medium-text-left">Go with the flow</h2>
                <img alt="Seasonal Plan" title="Go with the flow" src="/assets/images/business/plan-seasonal-rate.png" />
                <p>Make hay while the sun shines with Powershop’s Seasonal Plan. Your usage rates change as demand for electricity changes during the year – up in autumn and winter, then down again in spring and summer. Your usage rates will vary month to month but your daily charge will remain fixed.</p>
                <p>There are no fixed-term contracts – we won’t lock you in. But whenever you need it, you’ll get prompt personal service from one of our friendly business team members.</p>
                <p class="small">Is this plan right for my business?</p>
                <img alt="Seasonal Plan Price Graph" title="Seasonal Plan Price Graph" class="graph" src="/assets/images/business/graph-seasonal.png" />
                <p class="small">Powershop’s Seasonal Plan is good for small-medium sized businesses who like to follow seasonal price changes.</p>
            </div>
        </div>
        <div class="small-12 medium-6 columns end">
            <div class="white columns plan-container" data-equalizer-watch>
                <p class="plan-number">Business plan</p>
                <h2 class="medium-text-left">Fix and forget</h2>
                <img alt="Fixed Plan" title="Fix and forget" src="/assets/images/business/plan-fixed.png" />
                <p>With Powershop’s Fixed Energy Plan, we’ll lock down your energy charges that make up part of your power bill*, so you can accurately forecast your costs.</p>
                <p>Multi-property management is a cinch with only one invoice and one due date.</p>
                <p>Get in touch today to see if your business is eligible for a Fixed Energy Plan.</p>
                <p><small>* The Fixed Energy Price Plan excludes any changes to GST and network charges.</small></p>
                <p class="small">Is this plan right for my business?</p>
                <img alt="Fixed Plan Price Graph" title="Fixed Plan Price Graph" class="graph" src="/assets/images/business/graph-fixed-plan.png" />
                <p class="small">Powershop’s Fixed Energy Plan is good for medium-larger sized businesses who like to forecast costs with absolute certainty.</p>
            </div>
        </div>
    </div>
</div>
<div class="very-light-grey">
    <div class="row padding text-center">
        <div class="small-12 columns">
            <h2>Take control of your power bill and avoid surprises</h2>
        </div>
        <div class="small-12 small-centered medium-11 large-10 columns">
            <ul class="small-block-grid-2 medium-block-grid-4">
                <li>
                    <img alt="Control" src="/assets/images/business/control-login.png" />
                    <p>You can log in anytime you like to see your current power usage and balance.</p>
                </li>
                <li>
                    <img alt="Monthly Updates" src="/assets/images/business/control-email.png" />
                    <p>Your monthly update shows a summary of what you’ve used and paid for, and helps identify trends in your power usage.</p>
                </li>
                <li>
                    <img alt="Payment Choice" src="/assets/images/business/control-choice.png" />
                    <p>You can choose to pay by direct debit or make manual payments by credit card, debit card or an online bank account.</p>
                </li>
                <li>
                    <img alt="Online tools" src="/assets/images/business/control-labs.png" />
                    <p>And if you like, you can use our smart online tools to evaluate, manage your power and reduce your bills.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="white">
    <div class="row padding easy-switch">
        <div class="small-12 columns">
            <h2 class="text-center">Easy to switch</h2>
        </div>
        <div class="small-12 medium-10 medium-offset-1 large-5 large-offset-1 columns">
            <p>Call one of the business team today to compare apples with apples by making a comparison against your current retailer.</p>
            <p>We'll seamlessly switch your power by:</p>
            <ul class="list-bullet margin-left-zero">
                <li>Contacting your existing supplier.</li>
                <li>Switching you to Powershop in 10 days with no interruption to your power.</li>
                <li>Keeping you fully updated via email about your switch.</li>
            </ul>
        </div>
        <div class="small-12 medium-10 medium-offset-1 large-5 large-offset-1 end columns">
            <h3 class="pink-type margin-zero"><span class="psui-icon-phone-lowercase"></span>0800 472 952</h3>
            <p>Free call between 9am - 5pm Monday to Friday.</p>
            <h3 class="margin-zero pink-type"><span class="psui-icon-email-lowercase"></span><a class="pink-type" style="word-wrap: break-word;" href="mailto:business@powershop.co.nz">business@powershop.co.nz</a></h3>
            <p>Send an email and we’ll get back to you within the same or next business day.</p>
        </div>
    </div>
</div>
<div class="white questions">
    <div class="row padding ">
        <div class="small-12 end columns">
            <div class="row collapse" data-equalizer>
                <div class="small-12 medium-6 large-3 columns">
                    <div class="question pink text-center" data-equalizer-watch>
                        <img title="Where is Powershop available?" src="/assets/images/icons/large-supply.png" />
                        <h4 class="white-type">Where is Powershop available?</h4>
                        <p class="white-type small margin-zero">We’re open for business in most areas of New Zealand.</p>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <div class="question purple text-center" data-equalizer-watch>
                        <img title="Moving premises?" src="/assets/images/icons/large-business-new.png" />
                        <h4 class="white-type">Moving premises?</h4>
                        <p class="white-type small margin-zero"><a href="/business/moving-premises/">You can do it all online</a> in a few minutes. Or call us free on 0800 472 952. We will do everything, including contacting your old power company.</p>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns" data-equalizer-watch>
                    <div class="question magenta text-center" data-equalizer-watch>
                        <img title="Starting a new business?" src="/assets/images/icons/large-business.png" />
                        <h4 class="white-type">Starting a new business?</h4>
                        <p class="white-type small margin-zero">There are a few things you can provide to help us help you to switch to Powershop. <a href="#" data-reveal-id="startingBusiness">Find out more</a>.</p>
                    </div>
                </div>
                <div class="small-12 medium-6 large-3 columns  end">
                    <div class="question pink text-center" data-equalizer-watch>
                        <img title="Need gas?" src="/assets/images/icons/large-gas.png" />
                        <h4 class="white-type">Need gas?</h4>
                        <p class="white-type small margin-zero">Like thousands of our customers you can switch your electricity to Powershop and, if you’re on dual fuel, keep your gas with your current supplier. Or, ask for a gas-only plan from a local gas retailer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="startingBusiness" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 columns">
            <h2>Starting a new business</h2>
            <a class="close-reveal-modal">&#215;</a>
            <p>There are a few things you can provide to us to help us understand the best way to get the switch to Powershop under way as smoothly as possible:</p>
            <ul class="list-bullet">
                <li>Do you have power at the site? If not, have you checked if the main switch has been turned off?</li>
                <li>Do you have the ICP number of the property you plan to move into? If not, if you have access to the meter, can you provide us with a photo of the meter at the property, or provide us with the serial number displayed on the meter?</li>
                <li>Can you provide us with the specific move in date for the new property? </li>
                <li>Do you know how much power you would be using at the new property? This will help us provide you with an accurate cost estimate.</li>
                <li>Is it a new connection that has not had power at the property before now? If so, are you able to provide us with your electrician’s contact details?</li>
            </ul>
        </div>
    </div>
</div>

<%= javascript_include_tag  "modules/testimonials.js" %>
