---
title: "Simple Saver - Powershop, a better power company"
section: "residential"
---

<section class="magenta white-type">
    <div class="row padding">
        <div class="small-12 medium-8 medium-offset-2 columns text-center">
            <img src="/assets/images/simple-saver/simple-saver.png" />
            <h1>Simple Saver</h1>
            <h4>Every month we’ll email you a cheap power deal, Simple Saver. Click on the link to receive an instant discount relative to your usage. That’s all you need to do.</h4>
        </div>
    </div>
</section>
<section class="light-grey">
    <div class="row padding">
        <div class="small-12 medium-5 medium-offset-1 columns text-center">
            <img src="/assets/images/simple-saver/email-ss.jpg" />
            <h3>Click on it in our emails</h3>
        </div>
        <div class="small-12 medium-5 end columns text-center">
            <img src="/assets/images/simple-saver/login-ss.jpg" />
            <h3>Buy it when you login next</h3>
        </div>
    </div>
</section>
<section>
    <div class="row padding">
        <div class="small-12 medium-8 medium-offset-2 end columns text-center">
            <h2>It&rsquo;s that simple</h2>
        </div>
        <div class="small-12 medium-5 medium-offset-1 columns">
            <p><strong>Simple Saver</strong> buys about a week&rsquo;s worth of power at a reduced price every month. The amount you save changes with the amount of electricity you use. The more you use the more you save.</p>
            <p>Our customers tell us the more they know about their electricity usage the more they save power and money.</p>
            <p>We developed Simple Saver to reward all our customers for checking their Powershop account at least once a month and help them save.</p>
        </div>
        <div class="small-12 medium-5 end columns">
            <p>If you&rsquo;ve purchased Simple Saver through the banner on your Weekly Update email, payment is usually scheduled for three days later. We'll send you an email reminding you of the amount and when it will be taken from your bank account. Just like our usual refund process, you've got 48 hours to cancel the transaction.</p>
            <p>Sometimes we&rsquo;ll need to deal with payment a little differently. We&rsquo;ll always let you know when we&rsquo;re planning to take payment and anything else you need to do by email.</p>
        </div>
    </div>
</section>
