---
title: "Promotional Terms and Conditions - Powershop, a better power company"
description: "View our current Promo Terms and Conditions."
---

<div class="light-grey">
    <div class="row padding">
        <div class="small-12 columns">
            <h1>Promotional Terms &amp; Conditions</h1>
        </div>
    </div>
</div>
<div class="row padding padding-bottom-last">
    <div class="small-12 columns">
        <h3>Privacy Policy</h3>
        <p>These terms and conditions apply to your use of Powershop’s mobile app and form a legal contract between you, the registered user, and us, Powershop New Zealand Limited (“Powershop”). It’s important that you read and understand these terms and conditions before using Powershop’s mobile app, as installing and using Powershop’s mobile app constitutes acceptance of these terms and conditions.</p>
        <p>&nbsp;</p>
        <h3>Terms and conditions</h3>
        <p>These terms and conditions incorporate the customer terms and conditions, refund policy, privacy policy, and the fees and complaints process set out in the ‘Legal’ section in the settings of Powershop’s mobile app and in footers on our website, which all apply to the functions you use on Powershop’s mobile app.</p>
        <p>&nbsp;</p>
        <h3>Availability</h3>
        <p>Powershop does not guarantee that the operation of Powershop’s mobile app will be continuous, complete or error-free. To the extent permitted by law, we do not accept any liability or responsibility whatsoever if Powershop’s mobile app is not available, complete or error-free over any period or at any particular time.</p>
        <p>&nbsp;</p>
        <h3>IP and copyright</h3>
        <p>Unless stated otherwise in these terms and conditions, nothing in these terms and conditions gives you any right, title or interest in any intellectual property rights relating to Powershop’s mobile app, including POWERSHOP and/or other brands, trademarks (whether registered or otherwise), music or soundbites and/ or images and designs. You may use the material or intellectual property on Powershop’s mobile app for the purpose of accessing Powershop’s services through Powershop’s mobile app and/or using the referral functionality included in Powershop’s mobile app (“the Purposes”). However, that material or intellectual property may not be reproduced or used by you in any other manner whatsoever.</p>
        <p>You must not duplicate, copy, reproduce, reverse-engineer, distribute, transmit, adapt, republish, display, or use Powershop’s mobile app or any of its contents, in any form or manner, except to use it for the Purposes.</p>
        <p>&nbsp;</p>
        <h3>Security</h3>
        <p>Powershop’s mobile app requires you to choose and input a four-digit personal identification number (PIN). You are responsible for keeping that PIN safe and secure so as to prevent any unauthorised use of, and access to, your account and the electricity supply to the properties covered by Powershop’s mobile app. You will be responsible for all use of your account through Powershop’s mobile app, even unauthorised use of and access to your account, or purchases made through your account.</p>
        <p>&nbsp;</p>
        <h3>Internet and mobile provider terms and charges</h3>
        <p>Powershop won’t charge you for downloading Powershop’s mobile app, but your internet provider or mobile network provider may charge you for connection services when you download and/or use Powershop’s mobile app. You agree that Powershop is not responsible for any of those charges. You must comply with any applicable third party service providers’ terms of use (for example, software providers and network service providers) when using Powershop’s mobile app.</p>
        <p>&nbsp;</p>
        <h3>Limitation of liability</h3>
        <p>To the maximum extent permitted by law, Powershop:</p>
        <ul>
            <li>excludes all warranties and liabilities that may apply to your use of Powershop’s mobile app; and</li>
            <li>is not liable to you for any damage or alteration to your equipment including but not limited to computer equipment, a handheld device or mobile device as a result of the installation or use of Powershop’s mobile app.</li>
        </ul>
        <p>&nbsp;</p>
        <h3>Changes to these terms and conditions</h3>
        <p>By clicking “Install” you agree that Powershop can change the terms and conditions that apply to Powershop’s mobile app by Powershop giving 30 days written notice by email and by placing a banner on our website. If you do not want to be bound by those changes to the terms and conditions, you can uninstall the app before the changes take effect, as outlined in the clause below “Stopping your use of Powershop’s mobile app.” From time to time, we may upgrade Powershop’s mobile app. If you do not install the upgrade, some or all of the functionality on Powershop’s mobile app may not be available to you.</p>
        <p>&nbsp;</p>
        <h3>Stopping your use of Powershop’s mobile app</h3>
        <p>You may stop using Powershop’s mobile app at any time by deregistering your mobile device and uninstalling Powershop’s mobile app. It is recommended that you deregister Powershop’s mobile app before uninstalling it. Once you have deregistered the device and Powershop’s mobile app, the rights and licenses granted to you under these terms and conditions will end and you will not be allowed to use Powershop’s mobile app, unless you re-register the device and re-install Powershop’s mobile app.</p>
        <p>&nbsp;</p>
        <h3>Governing Law</h3>
        <p>These terms and conditions are governed by and construed in accordance with New Zealand law. You agree to the non-exclusive jurisdiction of the courts of New Zealand in relation to all disputes arising out of or in connection with these terms and conditions.</p>
        <p>&nbsp;</p>
        <h3>For the iPhone version of Powershop’s mobile app</h3>
        <p>You acknowledge that these terms and conditions are between us and you, and not Apple Inc. You are given a non-transferable license to use Powershop’s mobile app on your mobile device in accordance with these terms and conditions and the Apple Usage Rules in the Apple Store Terms of Service.</p>
        <p>Subject to these terms and conditions, we are solely responsible for Powershop’s mobile app, and Apple Inc. is not responsible for Powershop’s mobile app in any way. To the maximum extent permitted by law, Apple Inc. has no warranty obligations whatsoever with respect to Powershop’s mobile app. You agree that Powershop, and not Apple Inc., are responsible for the following things:</p>
        <ul>
            <li>Addressing any claims by you or a third party in relation to Powershop’s mobile app, including but not limited to, product liability claims, claims that Powershop’s mobile app fails to conform to legal or regulatory requirements or consumer protection claims;</li>
            <li>Investigating any claim that Powershop’s mobile app breaches third party intellectual property rights, and for defending, settling or discharging such claim; and</li>
            <li>Maintenance and support services for Powershop’s mobile app.</li>
        </ul>
        <p>If you need to contact Powershop relating to questions, complaints or claims relating to your use or possession of Powershop’s mobile app, our address is 427-429 Queen Street, Masterton, New Zealand, and our phone number is 0800 IN CONTROL (0800 462 668), our fax number is (04) 472 9979 or you can skype us at <a href="skype:powershopnz">powershopnz</a>.</p>
        <p>You warrant that you are not located in a country that is subject to a US Government embargo or is designated by the US Government as a ‘terrorist supporting’ country, and you are not listed on any US Government list of prohibited or restricted parties.</p>
        <p>You agree that Apple Inc. and its subsidiaries are third party beneficiaries of these conditions of use and that Apple Inc. has the right to (and will be deemed to have accepted the right) to enforce these conditions of use against you as a third party beneficiary.</p>
        <p>iPhone and the App Store are trademarks of Apple Inc., registered in the US and other countries.</p>
        <p>&nbsp;</p>
        <h3>For the Android version of Powershop’s mobile app</h3>
        <p>You acknowledge that these terms and conditions are between us and you, and not Google Inc. You are given a non-transferable license to use Powershop’s mobile app on your mobile device in accordance with these conditions of use and the terms of service and policies applicable to your use of GooglePlay.</p>
        <p>You warrant that you are not located in a country that is subject to a US Government embargo or is designated by the US Government as a ‘terrorist supporting’ country, and you are not listed on any US Government list of prohibited or restricted parties.</p>
        <p>&nbsp;</p>
    </div>
</div>
