---
title: "Account Review - Powershop, a better power company"
customClass: "changes"
hidePowerYouCanLove: true
section: "none"
---

<section class="header white-type text-center hero-account-review">
</section>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <p style="padding-top:20px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Account Review changes</p>
            <h2 class="shopper-hl">Making your Account Review clearer</h2>
            <p>We’re changing the way we price our power to make it simpler and easier to understand. The fixed costs that were included within unit prices are being replaced by fixed daily charges.</p>
            <p>We’ve also improved your monthly Account Review emails to make it clearer what you’ve used and what it cost over the month. Watch the video for a rundown of these changes.</p>
            <div class="vimeo">
              <div class='embed-container'>
                <img alt="play button" class="play-btn" src="/assets/images/homes/play.min.svg" />
                <iframe sandbox="allow-same-origin allow-scripts" id="intro-video" src='https://player.vimeo.com/video/181556426' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>

          <div class="light-grey pink-line" style="padding:1em;background:#bc216b;text-align:center">
            <div class="row">
              <div class="changes-menu">
                  <b class="changes-item whitelnk">What’s new</b>
                  <a href="#account-review" class="changes-item bluelnk">Account Review email</a>
                  <a href="#pdf" class="changes-item bluelnk">PDF attachment</a>
                  <a href="#review-coming" class="changes-item bluelnk">Account Review coming email</a>
              </div>
            </div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="account-review">Account Review email</h5>
            <h2 class="shopper-hl">A clearer review</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <p>We’ve made the Account Review email itself a bit simpler and clearer. So you can see what was what for the month – what you used, and what it cost.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="powershop screenshot" src="/assets/images/changes/screen1.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">What you used and saved</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <img alt="powershop summary" src="/assets/images/changes/summary.png" />
            <p>We now show energy supplied to your property over the period in kWh (kilowatt hours) rather than units. When it comes to usage, a kWh is the same as what we used to call a unit. We’ve just changed the name because we no longer work in units.</p>
            <p>You can also see how much your usage cost.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="powershop account details" src="/assets/images/changes/account5.png" />
            <p>In the Usage Summary we’re making it easier to see what contribution buying Powerpacks made to your cost for that Account Review period.</p>
            <p>We tell you the percentage discount you got with your Powerpacks, and how much this saved you. We’ve also popped in a helpful group of Powerpack images to show you which ones you used during the period.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="pdf">PDF attachment</h5>
            <h2 class="shopper-hl">All the details</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <img alt="powershop bill" class="spacer" src="/assets/images/changes/bill1.png" />
          </div>
          <div class="columns small-12 medium-5 end">
            <p>The attached PDF is where you find all the detailed stuff. It now begins with a list of <b>Transactions</b> (purchases made by you or us). This is the same as what you will see in the Transactions page of your online account.</p>
            <p>The first page ends with the total amount owing on your account (if any) and when payment is due.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Usage, Charges and Powerpacks</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <img alt="Power Usage" class="spacer" src="/assets/images/changes/bill2.png" />
            <p>This section on the second page is where you’ll see the new way of calculating your price.</p>
            <p>We now split out the electricity usage charges for your property from your Fixed Daily Charge. You’ll see your meter set up detailed here too, for example All Inclusive, Day and Night, or Controlled and Uncontrolled.</p>
            <p>Then we show the combined total of Usage and Daily Charges for your property.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="powershop bill 3" class="spacer" src="/assets/images/changes/bill3.png" />
            <p>After your Usage and Daily Charges we show a list of all the Powerpacks you have used in the period, with the cost (what you paid) and the worth (what you would have paid in Standard Power) of each.</p>
            <p>The total of each column clearly shows you how much you have saved by buying your Powerpacks.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="review-coming">Account Review coming email</h5>
            <h2 class="shopper-hl">Need to top up?</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <img alt="powershop review 1" src="/assets/images/changes/review1.png" />
            <p>At the end of your monthly Account Review period, if your account is short (you’ve used more power than you’ve bought), we’ll send you an ‘Account Review coming’ email.
              Instead of how many units you have left to buy, the email will say how many days you are short by and how many dollars you will need to top up.
            </p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="powershop review 2" src="/assets/images/changes/review2.png" />
            <p>Click ‘Shop now’ and see what Special Powerpacks are available, or you can now <b>top up with the exact amount of Standard Power</b> you need to cover your Account Review period. You can also do this on the mobile app.</p>
            <p>Go to the Standard Power pack in the shop or mobile app and click or tap the orange ‘Cover period’ button. Sorted.
            <p>Or you can do nothing and let us top up your account for you (with Standard Power) a couple of days later.</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Don’t have a smart meter?</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <img alt="meter" src="/assets/images/changes/meter.png" />
          </div>
          <div class="columns small-12 medium-5 end">
            <p>If we don't have an up-to-date meter read for your property, we’ll use an estimated read at Account Review time – we won’t wait for the actual read. So we’ll now send you an ‘Account Review Coming’ email and give you the chance to enter your own meter read, so you get a more accurate Account Review.</p>
            <p>You can click straight through from the email to enter the missing meter read in your online account.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
    <p style="padding-top:20px;margin-left:50px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Account Review changes</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
