.business {

.fsBody .fsForm{background:none;}

.row.business-banner {
    // background: $purple url("/assets/images/business/havana-geoff.jpg") center 105px no-repeat;
    // background-attachment: fixed;
    //background: $purple url("/assets/images/business/havana-geoff.jpg") center 0 no-repeat;
    height: 500px;
    overflow: hidden;
    position: relative;
    @media #{$small-only} {
      background: $purple;
      height: auto;
    }
    p{padding: 20px 0 0 0}
    @media #{$medium-only} {
      background-position: center 0;
    }
    @media #{$medium-up} {
      padding: 0
    }
    & > div {
      overflow: auto;
      z-index: 10;
    }
    h5 {
      position: absolute;
      max-width: 35%;
      z-index: 20;
      font-weight: 300;
      small {
        font-weight: 100;
      }
      @media #{$small-only} {
        display: none;
      }
      @media #{$medium-only} {
        left: 2%;
        bottom: -8px;
      }
      @media #{$large-up} {
        left: 4.4%;
        bottom: 5px;
      }
    }
    .circle {
      background-color: $purple;
      text-align: center;
      @media #{$medium-up} {
        width: 400px;
        height: 500px;
        h2 {
          padding: 10% 10% 0 10%;
          margin-bottom: 15px;
          font-size: $h2-font-size - 0.15;
          font-weight: 100;
        }
        p {
          padding: 20px 0 0 0;
        }
      }
      a:hover {
        color: $pink;
      }
    }
  }
  .questions {
    .question {
      padding: 2rem;
      img {
        margin-bottom: $paragraph-margin-bottom
      }
    }

  }



  .plans {
    @media #{$small-only} {
      .columns {
        padding: 0;
      }
    }
    @media #{$medium-up} {
      padding-bottom: $paragraph-margin-bottom*2 !important;
      p.white-type {
        margin-bottom: $paragraph-margin-bottom*2;
        padding: 20px 0 0 0;
      }
    }
    h2.white-type {
      margin-bottom: $paragraph-margin-bottom;
    }
    img {
      width: 100%;
      padding-bottom: $paragraph-margin-bottom;
      &.graph {
        margin-left: -13px;
        margin-bottom: $paragraph-margin-bottom/3;
      }
    }
    .plan-container {
      padding: 25px 7%;
      position: relative;
      .plan-number {
        position: absolute;
        top: 15px;
        left: 0;
        padding: 7px 10px 7px 7.5%;
        background-color: lighten($grey,15%);
        display: block;
        color: #fff;
        min-width: 110px;
        text-transform: uppercase;
        font-weight: 100;
        @media #{$small-only} {
          font-weight: 200;
        }
      }
      h2 {
        text-align: center;
        margin-top: $paragraph-margin-bottom*2;
        margin-bottom: $paragraph-margin-bottom/2;
      }
      @media #{$small-only} {
        margin-bottom: $paragraph-margin-bottom;
      }
    }
  }
}
