.classic-lite {
  .header-classic {
    min-height: 280px;
    @media #{$small-only} {
    min-height: 150px;
    }
    &.hero-classic {
      background: url("../images/changes/hero.png") center no-repeat,
      url("../images/changes/tile.png") center repeat-x;
      background-size: auto 280px,  auto 280px;
      @media #{$small-only} {
        background-size: auto 150px,  auto 150px;
        background-position: center center;
      }
    }
    &.hero-classic-mobile {
      background: url("../images/changes/hero-mobile.png") center no-repeat,
      url("../images/changes/tile.png")  center repeat-x;
      background-size: auto 280px,  auto 280px;
      background-color: $pink;
      @media #{$small-only} {
        background-size: auto 150px,  auto 150px;
        background-position: center center;
      }
    }
  }

  .header-lite {
    min-height: 280px;
    @media #{$small-only} {
    min-height: 150px;
    }
    &.hero-lite {
      background: url("../images/changes/hero.png") center no-repeat,
      url("../images/changes/tile.png") center repeat-x;
      background-size: auto 280px,  auto 280px;
      @media #{$small-only} {
        background-size: auto 150px,  auto 150px;
        background-position: center center;
      }
    }
    &.hero-lite-mobile {
      background: url("../images/changes/hero-mobile.png") center no-repeat,
      url("../images/changes/tile.png")  center repeat-x;
      background-size: auto 280px,  auto 280px;
      background-color: $pink;
      @media #{$small-only} {
        background-size: auto 150px,  auto 150px;
        background-position: center center;
      }
    }
  }
