.price-o-nator {
    .header-background {
        position: relative;
        overflow: auto;
        background: #fa0e6a url('/assets/images/price-o-nator/bg.png') center center repeat-x;
        height: 299px;
        overflow: hidden;
        h2 {
            position: relative;
            top: 50px;
            font-size: 64px;
            @media #{$small-only} {
                top: 80px;
                font-size: 32px;
            }
        }
    }
    .price-o-nator-logo  {
        width: 250px;
        position: relative;
        margin-top: -80px;
        @media #{$small-only} {
            width: 180px;
        }
    }
    .promo-body {
        margin-top: -46px;
    }
    .compare-machine {
        width: 65%;
        position: relative;
        margin: 25px auto;
        display: block;
        @media #{$small-only} {
            width: 100%;
        }
        img, svg {
            display: block;
            width: 100%;
        }
    }
    .how-to-list {
        display: table;
        @include acrossResolution(width,100%,100%,80%);
        margin: 0 auto;
        table-layout: fixed;
        vertical-align: middle;
        li {
            position: relative;
            font-size: 1.3rem;
            line-height: 1.3em;
            list-style: none;
            text-align: left;
            display: table-row;
            vertical-align: middle;
            & > div {
                display: table-cell;
                vertical-align: middle;
                padding: 10px 0;
                border-collapse: collapse;
            }
            .svg {
                width: 10%;
                svg {
                    width: 100%;
                    @include acrossResolution(height,60px,60px,70px);
                    display: block;
                }
                @media #{$medium-only} {
                    width: 15%;
                }
            }
            .copy {
                width: 90%;
                padding-left: 25px;
                @media #{$medium-only} {
                    width: 85%;
                }
            }
            @media #{$small-only} {
                display: block;
                margin-bottom: 40px;
                .svg {
                    display: block;
                    width: 30%;
                    margin: 0 auto 10px auto;
                }
                .copy {
                    display: block;
                    width: 100%;
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }
    .rates-form {
        @include acrossResolution(width,100%, 80%, 70%);
        margin: 0 auto;
        display: block;
        label {
            font-size: 1.15rem;
            overflow: auto;
        }
        .error {
            color: $pink;
            font-size: 0.9em;
        }
        label > span {
            display: block;
            text-align: left;
        }
        #email, #message, #name {
            display: block;
        }
        .button {
            margin-top: 1.065em;
        }
    }
    .button {
        &:hover {
            text-decoration: none;
        }
    }
    .talk-to-humans {
        display: none;
    }
}