.greater-canterbury {
  .header {
    background: url("../images/promos/greater-canterbury/power-you-can-love.png") center top -40px no-repeat, url("../images/promos/greater-canterbury/regional-header-bg.png") center center no-repeat;
    background-size: auto 100%;
    background-color: $pink;
  }
}