.north-canterbury {
  .header {
    background: url("../images/promos/north-canterbury/north-canterbury-header.png") center top -12px no-repeat;
    background-size: auto 100%;
    background-color: $pink;
  }
}
