---
title: "Our customers - Powershop, a better power company"
description: "Meet our customers and see how they use Powershop to save money and manage their power."
section: "residential"
navigation: "customers"
---

<%= partial "shared/deals" %>

<section class="very-light-grey testimonials">
    <div class="row padding">
        <div class="small-12 small-centered columns end">
            <h2 class="text-center">Meet our customers</h2>
            <div class="row" data-equalizer>
                <div class="small-12 medium-4 columns testimonial">
                    <div class="container text-center" data-equalizer-watch>
                        <img alt="" src="/assets/images/our-customers/testimonial-01.jpg" />
                        <h3 class="text-center"><a href="/toolkit#powerpacks">Get the specs on our specials</a></h3>
                        <p>“We love Powershop’s specials – they help us keep ahead of the game! Coolest power company by a country mile.” <span class="pink-type">NICK & NEVADA</span></p>
                    </div>
                </div>
                <div class="small-12 medium-4 columns testimonial">
                    <div class="container text-center" data-equalizer-watch>
                        <img alt="" src="/assets/images/our-customers/testimonial-02.jpg" />
                        <h3 class="text-center"><a href="/toolkit#powerpacks">Find out how Future Packs work</a></h3>
                        <p>“I live with a bunch of mid-20s professionals. Powershop’s perfect for us. We buy power in advance, so we’re not stuck with big bills over winter.” <span class="pink-type">SARAH</span></p>
                    </div>
                </div>
                <div class="small-12 medium-4 columns end testimonial">
                    <div class="container text-center" data-equalizer-watch>
                        <img alt="" src="/assets/images/our-customers/testimonial-03.jpg" />
                        <h3 class="text-center"><a href="/switch-now">See how easy it is to switch</a></h3>
                        <p>“The switch was easy, Powershop did everything for us. The website is simple to use and we’re definitely saving money.” <span class="pink-type">MAURICE & HANNAH</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="btn-next" class="btn-next">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13">
            <path d="M22 2.102l-2.121-2.102-8.879 8.797-8.879-8.797-2.121 2.102 11 10.898z" />
        </svg>
        <svg class="half-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 38" enable-background="new 0 0 96 38">
            <path d="M48 37c22.2 0 40.5-16 47-36h-94c6.5 20 24.8 36 47 36z" />
        </svg>
    </a>
</section>

<section class="bg-gradient numbers">
    <div class="row padding">
        <div class="small-12 small-centered columns end">
            <h3 class="text-center white-type">We currently have more than</h3>
            <div class="row">
                <div class="small-9 small-centered columns end">
                    <p class="number54"><span>56,000</span></p>
                </div>
            </div>
            <p class="text-center white-type big">customers all over New Zealand <img alt="" title="" class="nz-map" src="/assets/images/our-customers/nz-map.min.svg" /></p>
        </div>
    </div>

    <%= partial "shared/deals" %>
</section>

<section class="light-blue consumer">
  <div class="row padding">
    <div class="small-12 small-centered text-center columns end">
      <div class="row">
        <div class="small-12 medium-10 small-centered end columns">
            <p><img alt="90% proof" title="Powershop - 90% proof" src="/assets/images/our-customers/90-pecent-proof.png" /></p>
            <p class="big">Need more convincing? An independent survey has rated our residential customer satisfaction at an average of over 90% eight years in a row.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag  "modules/section_equalizer.js" %>
