---
title: "About us - Powershop, a better power company"
description: "Our crew work hard to make Powershop the best power company ever. We supply power to all kinds of homes and businesses in New Zealand."
section: "residential"
---

<section class="magenta white-type">
    <div class="row padding text-center">
        <div class="small-12 small-centered medium-9 columns end">
            <h1 class="margin-zero">About us</h1>
            <img src="/assets/images/about-us/winkys.png" alt="powershop winky icons">
            <h4>Our crew work hard to make Powershop the best power company ever. We supply power to all kinds of homes and businesses in New Zealand.</h4>
        </div>
    </div>
</section>
<section>
    <div class="row padding">
        <div class="small-12 columns end">
            <h2 class="text-center">New Zealand made</h2>
        </div>
        <div class="small-12 medium-6 medium-offset-1 columns">
            <p>Powershop sprung to life in 2009, backed by Meridian Energy. We focused on making shopping for electricity easy and enjoyable, and created the tools people need to understand how much power they use, giving them the control to lower their bills. It worked. Today our Wellington headquarters are bursting at the seams and our Customer Service Centre is adding vibrancy to the rural Wairarapa township of Masterton.</p>
        </div>
        <div class="small-12 medium-4 columns end">
            <img style="padding-top: 1em;" src="/assets/images/about-us/go-local-min.png" alt="local new zealand images">
        </div>
    </div>
</section>
<section>
    <div class="row padding padding-bottom-last">
        <div class="small-12 columns end">
            <h2 class="text-center">Power to the people</h2>
        </div>
        <div class="small-12 medium-6 medium-offset-1 columns">
            <p class="">We want to hear from you. We talk to users day and night online and via social media. That way, everyone can join in on the conversation and issues are dealt with quickly and openly.</p>
        </div>
        <div class="small-12 medium-4 columns end">
            <ul class="small-block-grid-4">
                <li><img alt="powershop social media" src="/assets/images/about-us/social-powershop.png" /></li>
                <li>
                    <a href="http://www.facebook.com/powershop"><img alt="facebook social media icon" src="/assets/images/about-us/social-facebook.png" /></a>
                </li>
                <li>
                    <a href="https://twitter.com/powershop"><img alt="twitter social media icon" src="/assets/images/about-us/social-twitter.png" /></a>
                </li>
                <li>
                    <a href="skype:powershopnz"><img alt="skype social media icon" src="/assets/images/about-us/social-skype.png" /></a>
                </li>
            </ul>
        </div>
    </div>
</section>
