---
title: "Powershop App - Powershop, a better power company"
section: "residential"
---

<section class="mobile-blue">
    <div class="row padding">
        <div class="small-12 small-centered medium-10 columns">
            <div class="small-12 medium-4 large-3 columns text-center">
                <img alt="Save money and power with cheap electricity prices and Powershop tools" title="Powershop in your pocket" src="/assets/images/toolkit/smartphone-app.jpg" />
            </div>
            <div class="small-12 medium-8 large-8 large-offset-1 columns end">
                <h1 class="white-type">Powershop in your&nbsp;pocket</h1>
                <h4 class="white-type">With Powershop you know exactly how much power you're using and what it costs before you have to pay a bill - all conveniently on your smartphone. This means you can take action to reduce the size of your bill.</h4>
                <div class="row">
                    <div class="small-6 large-4 columns download">
                        <a class="" href="https://itunes.apple.com/nz/app/powershop-nz/id671350293?mt=8" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'iTunes', 5]);">
                            <%= partial "/assets/images/homes/app-store.min.svg" %>
                        </a>
                    </div>
                    <div class="small-6 large-4 columns end download-android">
                        <a href="https://play.google.com/store/apps/details?id=nz.co.powershop.android.app" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'Google Play', 5]);">
                            <%= partial "/assets/images/homes/google-play.min.svg" %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding">
        <%= partial "shared/beta_test_pilot" %>
    </div>
</section>
