---
title: "Privacy Policy - Powershop, a better power company"
---

<section class="light-grey">
  <div class="row padding">
    <div class="small-12 medium-4 columns">
      <h1>Privacy Policy</h1>
    </div>
    <div class="small-12 medium-8 columns">
      <h4 style="padding-top: 1rem;">This privacy policy tells you about the way we, Powershop, collect information, use it, and if we disclose it, who we disclose it to.</h4>
    </div>
  </div>
</section>
<div class="row padding padding-bottom-last">
  <div class="small-12 medium-8 medium-offset-4 columns">
    <p><a href="/assets/pdfs/2016-02-10-Powershop-Privacy-Policy.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Privacy Policy from 10 February 2016 to 9 November 2017 <small>(PDF 188kB)</small></a></p>
    <p><a href="/assets/pdfs/2017-10-10-Powershop-Privacy-Policy.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Privacy Policy from 10 November 2017 <small>(PDF 168kB)</small></a></p>
    <p><a href="/assets/pdfs/2017-10-10-Powershop-Cookie-Policy.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Cookie Policy from 10 November 2017 <small>(PDF 255kB)</small></a></p>
  </div>
</div>
