---
  title: "Fees - Powershop, a better power company"
  description: "View our current schedule of fees for services that you may require with Powershop or our service partners."
  section: "residential"
---
<section class="light-grey">
  <div class="row padding">
    <div class="small-12 medium-3 columns">
      <h1>Fees</h1>
    </div>
    <div class="small-12 medium-9 columns">
      <p style="padding-top: 1rem;">This is our current schedule of fees for services that you may require. When you use a service we will charge the fee to your Powershop account. This schedule of fees will be updated from time to time as the cost of providing these services changes.</p>
    </div>
  </div>
</section>
<section>
  <div class="row padding">
    <div class="small-12 columns">
      <p>Please note that these are standard service fees. Where additional work is required by an electrician or your network company, or you live in a lifestyle, rural, or remote area, this could involve an additional fee. We may on-charge to you any fees we receive from a network company or other third party in relation to work performed at your request or work required because you have not complied with your obligations.</p>
      <p>It is important that you provide access to complete the service you have requested. If you fail to meet an arranged appointment or provide access, you will still have to pay the fee for the service requested.</p>
      <p>Please call the Powershop Crew 0800 IN CONTROL (0800 462 668 – free call) if you have any questions or would like more information on these fees.</p>
    </div>
  </div>
  <div class="row padding-bottom-last">
    <div class="small-12 columns">
      <h2 class="margin-zero">Schedule of fees</h2>
      <p>(All fees include GST)</p>
      <table class="table-fee">
        <tr>
          <td>
            <p>Special meter read</p>
          </td>
          <td>
            <p>Including check or final read</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>30</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>On-site investigation</p>
          </td>
          <td></td>
          <td class="price">
            <p><span class="dollar">$</span>85</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Fault visit
              <br/><small>(If fault proves NOT to be a supply or metering problem)</small></p>
          </td>
          <td>
            <p>Weekends, Public Holidays and after hours (4pm – 7am)</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>145</p>
          </td>
        </tr>
        <tr>
          <td rowspan="4">
            <p>Reconnection / Disconnection
              <br/><small>(per visit)</small></p>
          </td>
          <td>
            <p>Same business day service, call received by 4pm</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>90</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Weekends, Public Holidays and after hours (4pm to 7am)</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>125</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Remote Reconnection / Disconnection</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>25</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Debt Disconnection</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>90</p>
          </td>
        </tr>
        <tr>
          <td rowspan="3">
            <p>Metering fees</p>
          </td>
          <td>
            <p>Meter relocation</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>165</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Smart Meter Modification</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>165</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Smart Meter Test
              <br/><small>(Fee per meter tested. Only applies if meter proves to be accurate)</small></p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>240</p>
          </td>
        </tr>
        <tr>
          <td rowspan="3">
            <p>Administration</p>
          </td>
          <td>
            <p>Debt Management Fee</p>
          </td>
          <td class="price">
            <p><span class="dollar">$</span>25</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Debt collection costs</p>
          </td>
          <td class="price">
            <p>All costs</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Account closing fee (for credits balances under $1)</p>
          </td>
          <td class="price">
            <p>Up to <span class="dollar">$</span>1</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
