---
title: "Smarter - Powershop, a better power company"
section: "residential"
---

<section class="pink white-type">
    <div class='hero-background show-for-medium-up'>
        <div class="row">
            <div class="medium-5 medium-offset-1 columns display-table">
                <h2>Your property just got smarter</h2>
            </div>
            <div class="meter medium-4 medium-offset-1 columns end">
                <img src="/assets/images/smarter/meter.png" alt="Smart Meter" title="Smart Meter" />
            </div>
        </div>
    </div>
    <div class="row padding text-center">
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <h3>Understand how much you’re using and when you’re using it with our smart power tools.</h3>
        </div>
    </div>
</section>
<section>
    <div class="row padding no-gutter" data-equalizer>
        <div class="small-12 small-centered columns end">
            <div class="row padding">
                <div class="laptop-heatmap small-12 small-text-center medium-text-left medium-6 columns" data-equalizer-watch>
                    <div class="img"></div>
                </div>
                <div class="small-12 small-text-center medium-text-left medium-6 end columns" data-equalizer-watch>
                    <h3>Understand your usage</h3>
                    <h4 class="pink-type">See what you’re using and when you’re using it.</h4>
                    <p>Heatmaps show you the amount of power you’re using (in colour!) every 30 minutes of every day. At a glance you’ll see what you’re using and when you’re using it which can help you become more energy efficient - saving you money! You’ll be quick to spot emerging trends in your usage and what the impact of, say, leaving the heating on overnight could be. Eeek!</p>
                    <a class="call-to-action" href="https://secure.powershop.co.nz/usage_report">View your usage pattern</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-grey">
    <div class="row padding no-gutter ">
        <div class="small-12 small-centered columns end">
            <div class="row padding" data-equalizer>
                <div class="show-for-small-only laptop-usage small-12 small-text-center medium-text-left medium-6 columns end" data-equalizer-watch>
                    <div class="img"></div>
                </div>
                <div class="small-12 small-text-center medium-text-left medium-6 columns" data-equalizer-watch>
                    <h3>Compare your daily usage</h3>
                    <h4 class="pink-type">No need to enter meter reads.</h4>
                    <p>Your daily usage graph will look a heck of a lot more interesting now you’ve got a smart meter. Once the data crawls its way to us through the system (approx 2 days) you’ll see detailed daily usage data when you log in to your account. No need to enter meter reads and no more estimates. Bliss!</p>
                    <a class="call-to-action" href="https://secure.powershop.co.nz/labs/usage">Check your usage pattern</a>
                </div>
                <div class="show-for-medium-up laptop-usage small-12 small-text-center medium-text-left medium-6 columns end" style="position: relative;" data-equalizer-watch>
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row padding no-gutter phone-usage">
        <div class="small-6 small-centered medium-uncentered medium-5 large-4 large-offset-1 columns mobile-usage">
            <img alt="Powershop mobile app" title="Powershop mobile app" src="/assets/images/smarter/mobile-usage.jpg" />
        </div>
        <div class="small small-text-center medium-text-left medium-7 large-6 large-offset-1 end padding columns">
            <h3>Keep tabs as you go</h3>
            <h4 class="pink-type">Pinpoint what’s contributing to your usage.</h4>
            <p>Using the mobile app you can now add a comment or an explanation to a specific time period in your daily usage graph. This can make it easier to pinpoint a particular activity that contributes to a change in your usage. Spot the difference!</p>
            <div class="row">
                <div class="small-7 small-centered medium-uncentered medium-6 large-4 columns download">
                    <a class="" href="https://itunes.apple.com/nz/app/powershop-nz/id671350293?mt=8" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'iTunes', 5]);">
                        <img alt="Download on the App Store" title="Download on the App Store" src="/assets/images/smarter/app-store.min.svg" />
                    </a>
                </div>
                <div class="small-7 small-centered medium-uncentered medium-6 large-4 columns download-android end ">
                    <a href="https://play.google.com/store/apps/details?id=nz.co.powershop.android.app" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'Google Play', 5]);">
                        <img alt="Get it on Google Play" title="Get it on Google Play" src="/assets/images/smarter/google-play.min.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
