---
title: "What a difference a day makes! - Powershop, a better power company"
customClass: "changes"
hidePowerYouCanLove: true
section: "none"
---

<section class="header white-type text-center hero">
  <h2 class="margin-zero">What a difference a day makes!</h2>
</section>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h2 class="shopper-hl">What a difference a day makes!</h2>
            <p>We’re making some changes to the way we price our power to make it simpler and easier to understand.
            The fixed costs that were previously included within unit prices are being replaced by fixed daily charges.</p>
            <p>We're also making it easier to see and compare the value of our Powerpacks. It’s all about the days, and the dollars! Watch the video to get a quick lowdown on the changes.</p>
            <div class="vimeo">
              <div class='embed-container'>
                <img alt="" title="" class="play-btn" src="/assets/images/homes/play.min.svg" />
                <iframe sandbox="allow-same-origin allow-scripts" id="intro-video" src='https://player.vimeo.com/video/180107329' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="light-grey pink-line" style="padding-top:1em;background:#bc216b;text-align:center">
            <div class="row">
              <div class="columns small-12 medium-12 end">
                <ul class="small-block-grid-4 medium-block-grid-7 large-block-grid-7" style="text-align:center;padding:10px">
                  <li class="whitelnk"><b>What’s new</b></a></li>
                  <li><a href="#seize-the-day" class="bluelnk">Balance Page</a></li>
                  <li><a href="#whats-it-worth" class="bluelnk">The Shop</a></li>
                  <li><a href="#help" class="bluelnk">NEW Help site</a></li>
                  <li><a href="#mobile" class="bluelnk">Mobile app</a></li>
                  <li><a href="#account-review" class="bluelnk">Account review</a></li>
                  <li><a href="#multi-property" class="bluelnk">Multi-property</a></li>
                </ul>
              </div>
            </div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="seize-the-day">Balance Page</h5>
            <a id="knowledge-is-power"></a>
            <h2 class="shopper-hl">Seize the day</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <img alt="days ahead" class ="spacer" src="/assets/images/changes/clear1.png" />
            <p>At the top of the Balance page, you can see an estimate of how many days ahead you are with your power purchases, or if you have used more power than you have bought.</p>
            <p>It’s an estimate because it’s based on your current usage, so it will change as your usage changes, but it gives you a good idea of where you are at. Just like before, you can also see this information at a glance in the Power Organiser calendar.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="kwh" class ="spacer" src="/assets/images/changes/clear2.png" />
            <p>Next you’ll see an estimate of how much power you’re using per day in <b>kWh (kilowatt hours)</b>.</p>
            <p>A kWh is the same amount as the unit we used to show. It’s the way power usage is measured on your meter, and many household appliances, so it makes sense to call it the same thing.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" class="btt-lnk">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="whats-it-worth">The Shop</h5>
            <h2 class="shopper-hl">It’s all about the days, and the dollars</h2>
            <p>The Shop is where the biggest changes are. Powerpacks remain  all-inclusive, now covering fixed daily charges and any variable usage charges. Fixed daily charges replace the fixed costs that were previously included within unit prices.</p>
            <p>Powerpacks are now sized in dollars, rather than units. This gives you a better idea of what you are buying.</p>
            <p>Special Packs are listed in order of discount – biggest discount first. Underneath each Powerpack you’ll see:</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1 spacer-top">
            <img alt="" title="" src="/assets/images/changes/days.png" />
          </div>
          <div class="columns small-12 medium-5 end">
            <ul>
              <p><li>The <b>cost</b> of the pack (what you pay for it), and how much it’s <b>worth</b> (based on your Standard Power price). This makes it easier to see what you’re saving. Extra-special special packs (like your monthly Simple Saver) will also show you a percentage discount off Standard Power. Making the savings simpler!</li></p>
              <p><li>The cost of the pack is also shown in estimated <b>dollars per day</b>, based on your current usage. Dollars per day is the new way to compare the value of different packs at the time you buy them. It also helps you budget.</li></p>
              <p><li>How many <b>days of power</b> the pack should give you, based on your current usage.</li></p>
            </ul>
            <p>Both the <b>dollars per day</b> and the <b>days of power</b> of each pack will move around a bit, as your usage changes.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" class="btt-lnk">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Keeping it fresh</a></h2>
            <p>We’ve freshened up our old Powerpacks and created some new ones, in different sizes to give you more choice.</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <img alt="" title="" src="/assets/images/changes/fresh1.png" />
            <p>Powerpacks <b>no longer have expiry dates</b>. Fresher for ever! So now whenever you see a good deal you don’t need to worry about whether you’ll use it in time.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/fresh2.png" />
            <p><b>Future Packs now come with a little discount</b> – so you can save as well as spread your power costs. The earlier you buy a Future Pack, the more you will save.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" class="btt-lnk">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h5 style="padding-top:20px;font-weight:bold" id="help">NEW Help Site</h5>
            <h2 class="shopper-hl">Help is at hand</h2>
            <img alt="" title="" src="/assets/images/changes/help.png" />
            <p>We’ve got a <a href="http://help.powershop.co.nz/">brand new help site</a> you can access from the Help link (clever, that) on the desktop or from the Help menu in the mobile app, with videos and answers to common questions. So Help is just a click away wherever you are. Even if you have been a customer for a while it’s worth checking out as a reminder of how to get the most out of Powershop.</p>
            <p>But if you prefer to talk to a real person, you can still <a href="http://www.powershop.co.nz/contact-us/">give us a call or send us an email.</a></p>
            <p>Or if you’re a business customer, call <b>0800 472 952</b> or email <a href="mailto:business@powershop.co.nz?Subject=Business&nbsp;Help">business@powershop.co.nz</a>.
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="mobile">Mobile App</h5>
            <h2 class="shopper-hl">Mobile</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>We’re also making <a href="http://www.powershop.co.nz/changes/mobile">changes to your mobile app</a>.</p>
            <p>These include estimating how many dollars or days ahead or behind you are, and showing the <b>cost</b> and <b>worth</b> and <b>dollars per day</b> of each Powerpack.</p>
            <a href="http://www.powershop.co.nz/changes/mobile" class="find-btn">Find out more</a></br>
          </div>
          <div class="columns small-12 medium-5 end">
            <img class="spacer" alt="" title="" src="/assets/images/changes/mobile.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="account-review">Account Review</h5>
            <h2 class="shopper-hl">Account Review email</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>We’ve improved your Account Review email and attached PDF. It’s now easier to see what you’ve used, what it cost, and how your Powerpack purchases helped you save.</p>
            <a href="http://www.powershop.co.nz/changes/account-review" class="find-btn">Find out more</a></br>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/email.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" class="btt-lnk">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="multi-property">Multi-property</h5>
            <h2 class="shopper-hl">On the same page</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>If you have <a href="http://www.powershop.co.nz/changes/multi-property">more than one property</a> on your Powershop account, everything’s now in one place to make it easier to manage your power across your properties. And when you shop for power it’s for all of your properties. There’s no need to buy the same pack for multiple properties, multiple times!</p>
            <a href="http://www.powershop.co.nz/changes/multi-property" class="find-btn">Find out more</a></br>
            <p style="background:#efefef;padding:10px 10px 10px 20px">If you prefer to keep things separate (for example if you prefer to buy separate Powerpacks or make separate payments for different properties) call us on <b>0800 462 668</b>.
              Or if you’re a business customer, call <b>0800 472 952</b>.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/page.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
