---
title: "Moving House - Powershop, a better New Zealand Power Company"
section: "residential"
---

<section class="magenta white-type">
    <div class="row padding">
        <div class="small-12 columns end text-center">
            <img src="/assets/images/moving-house/moving-house-winky.png" />
            <h1>Moving House</h1>
            <h4>Moving house with Powershop is simple, it can all be done online in a few minutes.</h4>
        </div>
    </div>
</section>

<section class="light-grey">
    <div class="row padding">
        <div class="small-12 medium-5 medium-offset-1 columns">
            <h3>New customers</h3>
            <p>To switch to Powershop online all you need to do is:</p>
            <ul>
                <li>Complete the application form online</li>
                <li>Give us your payment details (credit card or bank account)</li>
                <li>Tell us your move in date</li>
            </ul>
            <p>It typically takes a week to switch your supply. We’ll update you via email as your switch progresses.</p>
            <h4 style="padding-top:10px; padding-bottom:20px;"><a href="/150_Credit_SG_Homepage" class="button big-button switch">Switch now</a></h4>
        </div>
        <div class="small-12 medium-5 end columns">
            <h3>Existing Powershop customers</h3>
            <p>To move house with Powershop you only need to:</p>
            <ul>
                <li class="small-margin-bottom"><a href="https://secure.powershop.co.nz/my_settings/address">Login</a> to your Powershop account, select ‘Settings’, then ‘Address details’ and follow the simple instructions from there.</li>
                <li class="small-margin-bottom"><strong>If you have a smart meter </strong><br/>You don’t need to do anything else.</li>
                <li><strong>If you don’t have a smart meter </strong>You can enter a final meter reading for your current property on the day you move (or up to three days afterwards) or we can organise this for you for a small charge. So you don’t forget, we can send you an email and/or text message reminder on the date you move out to take a final meter read. Simply select this as an option when you’re updating your address details under ‘Settings’.</li>
            </ul>
        </div>
    </div>
</section>
<section class="pink white-type text-center">
    <div class="row padding">
        <div class="small-12 medium-6 medium-offset-3 columns">
            <p>You can also move house by phoning our Customer Service Centre and we'll manage everything for you.</p>
            <h3 class="margin-zero"><span class="psui-icon-phone-lowercase"></span>0800&nbsp;462&nbsp;668</h3>
            <p class="">0800&nbsp;IN&nbsp;CONTROL</p>
        </div>
    </div>
</section>
<section class="text-center">
    <div class="row padding padding-bottom-last">
        <div class="small-12 medium-6 medium-offset-3 columns">
            <h3>Building a new home</h3>
            <p>If you are connecting a new home for the first time phone our <span class="magenta-type" style="white-space:nowrap;">Customer Service Centre on 0800 462 668,</span> we’ll be happy to help.</p>
        </div>
    </div>
</section>
