---
title: "Multi Property - Powershop, a better power company"
customClass: "changes"
hidePowerYouCanLove: true
section: "none"
---

<section class="header white-type text-center hero-multi-property">
  <h2 class="margin-zero">Multi Property</h2>
</section>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <p style="padding-top:20px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Multi-property account changes</p>
            <h2 class="shopper-hl">On the same page</h2>
            <p>We’re making some changes to the way we price our power to make it simpler and easier to understand. The fixed costs that were previously included within unit prices are being replaced by fixed daily charges.</p>
            <p>We’re also making your power easier to manage if you have more than one property under your Powershop account. Now you will be able to see everything in one place, and whenever you buy a Powerpack, it’s for all your properties. Watch the video to get an overview of these changes.</p>
            <div class="vimeo">
              <div class='embed-container'>
                <img alt="" title="" class="play-btn" src="/assets/images/homes/play.min.svg" />
                <iframe sandbox="allow-same-origin allow-scripts" id="intro-video" src='https://player.vimeo.com/video/180108129' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
          </div>
          <div class="light-grey pink-line" style="padding:1em;background:#bc216b;text-align:center">
            <div class="row">
              <div class="changes-menu">
                <b class="changes-item whitelnk">What’s new</b>
                  <a href="#desktop" class="changes-item bluelnk">Desktop changes</a>
                  <a href="#mob-app" class="changes-item bluelnk">Mobile app changes</a>
                  <a href="#account-review" class="changes-item bluelnk">Account review email</a>
              </div>
            </div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h5 style="padding-top:20px;font-weight:bold" id="desktop">Desktop changes</h5>
            <h2 class="shopper-hl">Days ahead</h2>
            <p>At the top of the Balance page, you’ll see an estimate of how many <b>days</b> ahead or behind you are for all your properties. Your Power Organiser will also show where things are at for all the properties on your account. It’s a more together view of whether you’ve bought enough power to cover all your usage.</p>
            <img alt="" title="" src="/assets/images/changes/daysahead.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">All on the same page</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>Step down the Balance page to see your daily usage in <b>kWh (kilowatt hours)</b> for each property <b>one below the other</b>. No more jumping around between screens.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/twoprops.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h2 class="shopper-hl">Drilling down</h2>
            <p>Under the Usage tab is where we keep things a bit separate so you don’t drown in all the data at once. Use ‘Select Property’ on the left-hand menu on each page to drill down to see <b>separate, detailed usage data</b> for each of your properties.</p>
            <p>You can also change between properties on the ‘Your Rates’ page to see the usage rates and daily charges for each.</p>
            <img alt="" title="" src="/assets/images/changes/drilling.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">One stop shop</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>In the Shop, Powerpacks now scale to cover all your properties, so you can just buy <b>one for all</b> each time. There’s no need to buy the same pack for multiple properties, multiple times!</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/one-stop.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container" style="background:#bc216b!important">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 style="color:#ffffff!important" class="shopper-hl">Want to split?</a></h2>
            <p class="spacer" style="color:#ffffff"><img alt="" title="" style="width:26px;height:26px;margin-right:6px" src="/assets/images/changes/phone.png" />
              Prefer to keep your properties separate? (For example,
              if you prefer to buy separate Powerpacks or make separate payments for different properties.)
              Let us know – call us on <b>0800 462 668</b>,
              or if you’re a business customer, call <b>0800 472 952</b>.</p>
          </div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <h5 style="padding-top:20px;font-weight:bold" id="mob-app">Mobile</h5>
            <h2 class="shopper-hl">All together now</a></h2>
            <img alt="" title="" src="/assets/images/changes/all-together.png" />
            <p>Inside the circle on the Balance screen we show about how many dollars ahead or behind you are with your power purchases for all the properties under your account. Tap to switch to about how many days ahead or behind you are.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <img alt="" title="" src="/assets/images/changes/propbalance.png" />
            <p>You can swipe back to see each property’s circle side-by-side for previous months. But for current and future months, the circle will show a combined account view.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
        <div class="row text-left">
          <div class="small-11 small-centered medium-10 columns end ">
            <img alt="" title="" src="/assets/images/changes/propgraph.png" />
            <p>In the Insights graph each property is also now combined in one bar. Again, you can swipe back to see each property’s  graph side-by-side for previous months.</p>
            <p>The only times you need to switch between properties are for meter readings, and when you’re viewing the detailed Daily Usage graph.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl" id="questions">Separate properties on separate accounts?</h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
              <p>If you have different properties under different Powershop accounts, you can change between your accounts from the app menu, just like you do now.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/propchange.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h5 style="padding-top:20px;font-weight:bold" id="account-review">Account review</h5>
            <h2 class="shopper-hl">A better account review</a></h2>
            <p>A new Account Review email and attached PDF combines the details for all your properties in your account. You won’t have to open more than one email or download more than one PDF.</p>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1" >
            <img alt="" class="spacer" src="/assets/images/changes/account1.png" />
            <p>At the top of the Account Review email, just like on the Balance page, we show you the overall position for your account.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" class="spacer" src="/assets/images/changes/account2.png" />
            <p>Then below that, there’s a separate panel for each of your properties, showing you average daily supply and meter readings.</p>
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container grey-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Heads up to top up</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>If you’ve used more power than you bought for the month, before we send your Account Review we’ll send you an ‘Account Review Coming’ email. This replaces the ‘Would You Like to Top Up’ email.</p>
            <p>You can click through to the Shop from the email. From there you can either buy a Special Pack if there’s one available, or you can now top up your account with exactly the amount of Standard Power you need to cover the period for all your properties at once.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/heads-up.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="light-grey spacer">
  <div class="row">
    <div class="small-12 small-centered medium-11 columns end white offset-container pink-border">
      <section>
        <div class="row">
          <div class="columns small-12 medium-10 medium-offset-1 end">
            <h2 class="shopper-hl">Meter reads not up to date?</a></h2>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 medium-5 medium-offset-1">
            <p>If we don't have an up-to-date meter read for one or more of your properties, we’ll now send you an ‘Account Review Coming’ email which gives you the chance to enter your own meter reads. So you can get a more accurate account review. You can click straight through from the email to enter the missing meter read(s) in your online account.</p>
          </div>
          <div class="columns small-12 medium-5 end">
            <img alt="" title="" src="/assets/images/changes/meterread.png" />
          </div>
          <div class="columns small-12 medium-12 end">
            <a href="#" id="top" style="float:right;font-size:.8em;padding:30px">BACK TO TOP</a>
          </div>
        </div>
      </section>
    </div>
    <p style="padding-top:20px;margin-left:50px"><a href="http://www.powershop.co.nz/changes">What a difference a day makes</a>  > Multi-property account changes</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
