---
title: "Direct Debit Terms and Conditions - Powershop, a better power company"
---

<div class="light-grey">
    <div class="row padding">
        <div class="small-12 columns">
            <h1>Direct Debit Terms &amp; Conditions</h1>
        </div>
    </div>
</div>
<div class="row padding padding-bottom-last">
    <div class="small-12 columns">
        <p><a href="/assets/pdfs/2009-02-22_Powershop_Direct_Debit_Terms_and_Conditions.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Direct Debit Terms and Conditions – 22 February 2009 <small>(PDF 47kB)</small></a></p>
    </div>
</div>
