---
title: "Terms and Conditions - Powershop, a better power company"
description: "View our current terms and conditions, privacy policy and cookie policy."
---

<section class="light-grey">
    <div class="row padding">
        <div class="small-12 columns">
            <h1>Terms &amp; Conditions</h1>
        </div>
    </div>
</section>
<section>
    <div class="row padding padding-bottom-last">
        <div class="small-12 medium-6 columns">
            <h3>Powershop Terms &amp; Conditions</h3>
            <p><a href="customer">Customer Terms &amp; Conditions</a></p>
            <p><a href="website">Website Terms &amp; Conditions</a></p>
            <p><a href="promo">Promotional Terms &amp; Conditions</a></p>
            <p><a href="direct-debit">Direct Debit Terms &amp; Conditions</a></p>
            <p><a href="mobile">Mobile Terms &amp; Conditions</a></p>
        </div>
        <div class="small-12 medium-6 columns">
            <h3>EA Fact Sheets</h3>
            <p><a href="/assets/pdfs/vc-factsheet-7.pdf" target="_blank" rel="noopener noreferrer"><span class="psui-icon-pdf-uppercase"></span>EA Fact sheet for vulnerable consumers <small>(PDF 145kB)</small></a></p>
            <p><a href="/assets/pdfs/mdc-factsheet-9.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>EA Fact sheet for medically dependent consumers <small>(PDF 100kB)</small></a></p>
        </div>
    </div>
</section>
