<div class="small-11 small-centered medium-9 columns end beta-test-pilot">
    <div class="row">
        <div class="small-12 small-centered medium-uncentered medium-2 large-1 aviator columns text-center">
            <%= partial "assets/images/beta-test-pilot/aviator.min.svg" %>
        </div>
        <div class="small-12 medium-5 large-3 columns">
            <h2 class="white-type">Become a beta test pilot</h2>
        </div>
        <div class="small-12 large-8 columns end ">
            <p class="white-type">
                Powershop beta testers get to take early releases of our app for a spin.
                <br/>Your mission: to find any glitches and report back to base.
            </p>
            <p><a href="http://blog.powershop.co.nz/tag/test-pilot/" target="_blank" rel="noopener noreferrer" class="white-type">Find out how to join.</a></p>
        </div>
    </div>
</div>
