<section class="deals light-grey">
    <div class="row">
        <div class="small-12 text-center columns end">
            <p>Get <a href="/150_Credit_SG_Homepage"><span class="dollar150">$200</span></a> free power over your first 6 months. <span class="not-show-tablet-down">With Guaranteed Savings. </span><a class="bt-switch" href="/150_Credit_SG_Homepage">Start the switch</a></p>
        </div>
    </div>
</section>
