<footer>
  <div class="darkest-grey invert">
    <div class="row padding ">
      <div class="small-12 large-6 columns faults ">
        <div>
          <h4>Faults</h4>
          <p>In the event of a fault or power outage, contact your regional network company listed on our <a href="/contact-us/#faults">contact us&nbsp;page</a>.</p>
        </div>
        <div>
          <h4>Complaints</h4>
          <p>Powershop is a member of the Energy Complaints Scheme operated by Utilities Disputes Limited. View our <a href="/complaints/">complaints&nbsp;process</a>.</p>
        </div>
      </div>

      <div class="small-12 medium-6 large-3 columns">
        <h4>Contact Us</h4>
        <ul class="contact-links">
          <li><span class="sprites-grey-phone"></span>0800 1000 60</li>
          <li><span class="sprites-grey-email"></span><a href="/contact-us">Send us a message</a></li>
          <li><a href="http://twitter.com/powershop/" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Twitter', 5]);"><span class="sprites-grey-twitter"></span>Twitter</a></li>
          <li><a href="http://twitter.com/powershoppromos/" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Twitter-promos', 5]);"><span class="sprites-grey-twitter"></span>Promotions on Twitter</a></li>
          <li><a href="http://www.facebook.com/powershop/" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Social', 'Facebook', 5]);"><span class="sprites-grey-facebook"></span>Facebook</a></li>
          <li><a href="http://blog.powershop.co.nz/"><span class="sprites-grey-blog"></span>Blog</a></li>
        </ul>
      </div>

      <div class="small-12 medium-6 large-3 columns end">
        <ul class="site-links">
          <li><a href="/toolkit">Toolkit</a></li>
          <li class="moving"><a href="/moving-house/">Moving house</a></li>
          <li class="moving-business"><a href="/business/moving-premises/">Moving premises</a></li>
          <li><a href="/questions-answered/">Questions Answered</a></li>
          <li><a href="/fees/">Fees</a></li>
          <li><a href="/assets/pdfs/2016-10-26-PowershopNZ_LFC_Regs_exemptions.pdf">Exemptions</a></li>
          <li><a href="/refunds/">Refunds</a></li>
          <li><a href="/about-us/">About us</a></li>
          <li><a href="/mobile-apps/">Mobile apps</a></li>
          <li><a href="http://www.powershop.com/culture/">Recruitment</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
        </ul>
      </div>

      <div class="small-12 columns">
        <hr>
        <div class="left copyright">
          <span>&copy;2017 Powershop New Zealand Limited</span>
          <a href="/privacy-policy/">Privacy policy</a>
          <a href="/terms-and-conditions/">Terms &amp; conditions</a>
        </div>
        <img alt="Winky Logo" class="right" src="/assets/images/footer/footer-winky.png" />
      </div>
    </div>
  </div>
</footer>

<%= partial "shared/feedback" %>
