<div class="small-12 medium-10 medium-offset-1 columns">
  <h2 class="margin-bottom-zero">Got questions?</h2>
  <h4>We’ve answered <a href="/questions-answered/">some common questions here</a>.</h4>
  <h4 class="talk-to-humans">Or you can talk to one of our humans</h4>
</div>
