<div class="small-12 medium-10 medium-offset-1 columns">
  <h2 class="margin-bottom-zero">Got questions?</h2>
  <h4>We’ve answered <a href="#" id="got-questions-link">some common questions here</a>.</h4>
  <div id="got-questions" class="hide">
    <div class="questions-answered">
      <h2 class="more"></h2>
      <p class="more"><a href="/questions-answered/"><small><em>More&nbsp;questions&nbsp;answered</em></small></a></p>
      <div class='separation'>
        <h4 class='q'><img class="arrow-right" src="/assets/images/common/arrow-right.svg" /><a href="#">Can Powershop supply power to my property?</a></h4>
        <div class="a hide"><p><a href='/supply-checker/'>Check here</a></p></div>
      </div>
      <div class='separation'>
        <h4 class='q'><img class="arrow-right" src="/assets/images/common/arrow-right.svg" /><a href="#">Can you tell me more about the 60-day guarantee?</a></h4>
        <div class="a hide"><p>Once you have switched to Powershop, you have 60 days to let us know if you are happy. If not, we will hook you back up with your old power company and refund any unused electricity.</p></div>
      </div>
      <div class='separation'>
        <h4 class='q'><img class="arrow-right" src="/assets/images/common/arrow-right.svg" /><a href="#">What happens if I want to switch back to my old power company after the 60-day guarantee ends?</a></h4>
        <div class="a hide"><p>If you decide to switch away after 60 days, refunds will only be given in certain circumstances. Read our refund policy <a href="/refunds/">here</a>.</p></div>
      </div>
      <div class='separation'>
        <h4 class='q'><img class="arrow-right" src="/assets/images/common/arrow-right.svg" /><a href="#">Does it cost me anything to switch to or away from Powershop?</a></h4>
        <div class="a hide"><p>No it doesn&rsquo;t, unless your property doesn&rsquo;t have an electricity supply and requires reconnection or connection to the electricity network. There are no fees for switching away from Powershop.</p></div>
      </div>
      <div class='separation'>
        <h4 class='q'><img class="arrow-right" src="/assets/images/common/arrow-right.svg" /><a href="#">Is there any disruption to my power supply during the switching process?</a></h4>
        <div class="a hide"><p>No, your power will not be cut off (unless your current supplier has already threatened disconnection because you haven&rsquo;t paid them). Switching to Powershop just involves the transfer of information from one company to another.</p></div>
      </div>
    </div>
  </div>
  <h4 class="talk-to-humans">Or you can talk to one of our humans</h4>
</div>