<div style="width:100%;background-color:#ececec;">
<div class="row">

    <div class="small-12 centered columns medium-4">
      <div class="wrapper" style="text-align:center">
          <h3 style="color:#fa0e6a!important;padding-top:6%">Switch to a better power deal</h3>
      </div>
    </div>

    <div class="small-12 centered columns medium-4">
      <div class="wrapper" style="text-align:center;padding-top:6%">
        <a href="/150_Credit_SG_Homepage" class="button">Switch now</a>
      </div>
    </div>

    <div class="small-12 centered columns medium-4">
      <div class="wrapper">
          <div class="svg"><img src="assets/images/campaigns/sym/sym-top-banner.png"></div>
      </div>
    </div>

</div>
</div>
