<section class="campaign-sym">
  <div class="container">
    <div class="magenta">
      <%= partial "/assets/images/campaigns/sym/green-beard.min.svg" %>
    </div>
    <div class="pink white-type">
    <div class="container">
      <h3>Refer your friends to Powershop. For each mate who switches by 31 March you’ll ride away with:</h3>
        <a href="/150_Credit_SG_Homepage">
          <%= partial "/assets/images/campaigns/sym/150-free-power.min.svg" %>
        </a>
      <a href="/150_Credit_SG_Homepage" class="button">Find out more</a>
    </div>
    </div>
  </div>
</section>
