<div class="small-12 medium-7 large-5 medium-offset-1 end columns livehelpnow">
    <script type="text/javascript">
    var lhnAccountN = "20299-1";
    var lhnButtonN = 6312;
    var lhnInviteEnabled = 1;
    var lhnWindowN = 0;
    var lhnDepartmentN = "25032";
    </script>
    <a href="http://www.livehelpnow.net/products/live-chat-system" target="_blank" rel="noopener noreferrer" class="lhnHelp" id="lhnHelp">Live Chat Support Software</a>
    <script src="//www.livehelpnow.net/lhn/widgets/chatbutton/lhnchatbutton-current.min.js" type="text/javascript" id="lhnscript"></script>
    <script type="text/javascript">
    function CustomOpenLHNChat() {
        var wleft = (screen.width - 580 - 32) / 2;
        var wtop = (screen.height - 420 - 96) / 2;
        if (bLHNOnline == 0) {
            location.href = 'http://www.powershop.co.nz/contact-us/';
        } else {
            lhnWin = window.open('https://www.livehelpnow.net/lhn/livechatvisitor.aspx?lhnid=20299', 'lhnchat', 'left=' + wleft + ',top=' + wtop + ',width=580,height=435,toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=no,copyhistory=no,resizable=yes');
        }
    }
    </script>
</div>
