<div class='hide-for-medium-up'>
  <div class='panel blue white-type'>
    <div id="mobile-call-us" style='display:none;'>
      <h4>Talk to a real human to switch</h4>
      <h4><a href="tel:0800000273" data-role="button"><span class="psui-icon-phone-uppercase"></span>0800 000 273</a></h4>
    </div>

    <div id="mobile-leave-details" style='display:none;'>
      <h4>Leave your contact details</h4>
      <h4><a href="#" data-reveal-id="promo_overlay_leave_details"><span class="psui-icon-pencil-uppercase"></span>We'll be in touch</a></h4>
    </div>
  </div>
  <p id="mobile-signup-online"><a href="javascript:void(0)">or signup online</a></p>
</div>