<div class='hide-for-medium-up'>
  <div class=''>

    <div id="mobile-leave-details" style='display:none;'>
      <h4>Leave your contact details</h4>
      <h4><a href="#" data-reveal-id="promo_overlay_leave_details">
        <span class="psui-icon-pencil-uppercase"></span>We'll be in touch</a></h4>
    </div>

  </div>
  <div class="panel blue white-type">
    <p id="mobile-signup-online"><a href="javascript:void(0)">Sign up now</a></p>
  </div>
</div>
