<div class="plans">
<div class="row plans padding white">
      <p class="big">Just pick the option that best suits you.</p>
        <div class="small-12 medium-6 columns padding">
            <div class="white columns plan-container" class="plan-space">
                <h2 class="medium-text-center grey-type">Powershop Classic</h2>
                <img alt="Seasonal Plan" title="Go with the flow" style="margin-bottom:32px" src="/assets/images/resi/classic.png" />
                <p style="text-align:left">This option is for those who love a good bargain. It offers the <b>best overall value</b> through the extra savings you can make from buying our regular specials, and packs the full Powershop flavour.</p>
                <ul style="text-align:left;font-size:1.1rem">
                  <li style="line-height:1.8rem"><b>Access to our online shop</b> where you can buy power as you go and save with regular specials.</li>
                  <li style="line-height:1.8rem"><b>Online tools and our mobile app</b> make it easy to track your usage.</li>
                  <li style="line-height:1.8rem"><b>Seasonal pricing</b> that reduces over spring and summer, then increases slightly over autumn and winter.</li>
                </ul>
                <%= partial "shared/sign_up_classic" %>
            </div>
        </div>

        <div class="small-12 medium-6 columns padding">
            <div class="white columns plan-container padding" style="padding:0 52px 30px 52px">
                <h2 class="medium-text-center grey-type">Powershop Lite</h2>
                <img alt="Fixed Plan" title="Fix and forget" style="margin-bottom:32px" src="/assets/images/resi/lite.png" />
                <p style="text-align:left">This is the option if you like a good deal but prefer a bit more simplicity, and don’t mind missing out on the extra savings you can get from shopping.</p>
                <ul style="text-align:left;font-size:1.1rem">
                  <li style="line-height:1.8rem">No access to the shop or our specials, just a <b>simple monthly bill</b> to pay.</li>
                  <li style="line-height:1.8rem"><b>Online tools and our mobile app</b> make it easy to track your usage.</li>
                  <li style="line-height:1.8rem"><b>Flat energy pricing</b> that doesn't move with the seasons.</li>
                </ul>
                <%= partial "shared/sign_up_light" %>
            </div>
        </div>
  </div>
</div>
