<section class="power-you-can-love">
  <div class="row">
    <div class="small-12 text-center columns end">
      <div class="baby"></div>
      <a href="#" data-reveal-id="overlay-video-trump">
        <h2 class="power-you-can-love-title">Power you can love</h2>
        <div class="line-container">
          <p>Catch Kiwi kids trumping Trump</p>
          <%= partial "/assets/images/power-you-can-love/play.svg" %>
        </div>
      </a>
      <div class="close"><%= partial "/assets/images/power-you-can-love/close.svg" %></div>
      <div class="power-great-again-badge"><a href="#" data-reveal-id="overlay-video-trump"></a></div>
    </div>
  </div>
  <div id="overlay-video-trump" class="reveal-modal cant-lose-video" data-reveal>
    <div class="row">
      <div class="small-12 small-centered medium-9 columns end">
        <a class="close-reveal-modal">&#215;</a>
        <div class="vimeo">
          <iframe sandbox="allow-same-origin allow-scripts" src="https://www.youtube.com/embed/pCy9A-cD_H4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

