<section class="price-change-alert">
    <div class="row">
        <div class="small-12 medium-8 large-9 small-centered text-center columns end">
            <%= partial "assets/images/prices/alert-icon.svg" %><p>New prices coming 01 April 2016</p>
        </div>
    </div>
</section>
