<!--[if lte IE 8]>
  <div style="width: 100%; background: #bc216b">
    <div style="width: 920px; margin: 0 auto; padding: 40px 80px 40px 0; background:  url(assets/images/homes/old-winky.png) right center no-repeat;">
    <h1 style="font-size: 27px; color: #fff;">Sorry, you're using an outdated browser!</h1>
    <p style="font-size: 20px; font-weight: strong; line-height: 22px; color: #fff; margin-bottom: 10px">Unfortunately your experience here on Powershop is going to be less than perfect...</p>
    <p style="font-size: 20px; font-weight: strong; line-height: 22px; color: #fff;">We <strong>strongly suggest</strong> you upgrade your browser,  you can <a href="https://whatbrowser.org" target="_blank" rel="noopener noreferrer" style="color: #afdffa; text-decoration: underline;">click here</a> to do it.</p>
    </div>
  </div>
<![endif]-->
