<div class="small-12 medium-10 medium-offset-1 end columns well-get-in-touch">
    <a href="#" data-reveal-id="promo_overlay_leave_details">
        <img src="/assets/images/got-questions/crew.png" />
        <h3 class="pink-type">We’ll get in touch</h3>
        <p>Leave your contact details</p>
    </a>
</div>
<div id="promo_overlay_leave_details" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 end columns">
            <h3>Leave your details and we’ll be in touch</h3>
            <p>Enter a few details here and we’ll be in touch to let you know how much you could save with Powershop.</p>
            <a class="close-reveal-modal">&#215;</a>
            <form id="contact" method="post" action="/contact_us/create" name="<%= current_page.data.promotionName %>" onsubmit="if (checkLeaveDetailsForm()) { squashCommentFields(); return true; } else { return false; }; ">
                <fieldset>
                    <label for="name">Name <span class="pink-type">*</span>
                        <input id="name" name="name" type="text" title="First name" size="30">
                    </label>
                    <div id="name-error-text" class="hide">
                        <p class="pink-type">Name Error</p>
                    </div>
                    <label for="email">Email <span class="pink-type">*</span>
                        <input id="email" name="email" type="text" title="Email" size="30">
                    </label>
                    <div id="email-error-text" class="hide">
                        <p class="pink-type">Email Error here</p>
                    </div>
                    <label>I would prefer to be contacted via <span class="pink-type">*</span></label>
                    <input id="via-phone" type="checkbox" name="via-phone" value="via-phone">
                    <label for="via-phone">Phone</label>
                    <input id="via-email" type="checkbox" name="via-email" value="via-email">
                    <label for="via-email">Email</label>
                    <div id="contact-method-error-text" class="hide">
                        <p class="pink-type"></p>
                    </div>
                    <div class="phone-fields hide">
                        <label for="phone">Phone number <span class="pink-type">*</span>
                            <input id="phone" name="phone" type="text" title="Phone number" size="30">
                        </label>
                        <div id="phone-error-text" class="hide">
                            <p class="pink-type"></p>
                        </div>
                        <label for="time">Best time to call <span class="pink-type">*</span> <em>e.g. 4pm-7pm weekdays</em>
                            <input id="time" name="time" type="text" title="Time to call" size="30">
                        </label>
                        <div id="time-error-text" class="hide">
                            <p class="note"></p>
                        </div>
                    </div>
                    <input id="comment" name="comment" type="hidden"></input>
                    <p><a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Send</a></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<%= javascript_include_tag  "modules/contact_form" %>
