<section class="you-cant-lose">
  <div class="container">
    <div class="magenta">
      <h2 class="main-title">See why you really can't lose with powershop</h2>
      <%= partial "/assets/images/campaigns/you-cant-lose/green-beard.min.svg" %>
      <a href="#" class="play" data-reveal-id="overlay-video-main">
        <%= partial "/assets/images/campaigns/you-cant-lose/play.min.svg" %>
        <span>1:17</span>
      </a>
    </div>
    <div class="pink white-type">
    <div class="container">
      <h3>Get a better power deal when you switch your main home to Powershop</h3>
        <a href="/150_Credit_SG_Homepage">
          <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
          <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.min.svg" %>
        </a>
      <a href="/150_Credit_SG_Homepage" class="button">Switch now</a>
    </div>
    </div>
  </div>
</section>
