---
title: "Sign up - Powershop, a better power company"
description: "Sign up to a better power company in just 5 minutes with Powershop."
section: "residential"
promotionName: "$150 Credit & SG Offer"
customClass: "new-150credit"
openTermsAndConditionsInNewPage: "yes"
---

<section class="header-background magenta white-type text-center">
  <h2>You really can't lose with powershop</h2>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Sign up to a better power company</h2>
          <div class="badges">
            <%= partial "/assets/images/campaigns/you-cant-lose/150-free-power.min.svg" %>
            <%= partial "/assets/images/campaigns/you-cant-lose/guaranteed-savings.svg" %>
          </div>
          <p class="big">
            When you switch your main home to Powershop we’ll give you $200 free power, spread over your first six months. You’re also <a href="/guaranteed-savings">guaranteed to save</a> in your first year. Terms and conditions apply.
          </p>
          <hr/>
          <%= partial "shared/plan_options" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    var cookie = readCookie("questionsOpen");
    if (cookie === "yes") {
      $('#got-questions').show();
    }
    // Define Vimeo player
    var iframe = $('#intro-video')[0];
    var player = $f(iframe);
    $('.vimeo .embed-container').click(function(event) {
      $(".embed-container").addClass("fade-background");
      $('.vimeo h3').fadeOut();
      $('.vimeo .play-btn').fadeOut();
      $('.vimeo .time').fadeOut();
      player.api('play');
    });
    $('#got-questions-link').click(function(){
      createCookie("questionsOpen", "yes", 1);
    })
  });
</script>
<script src="/assets/javascripts/third-party/froogaloop.js" type="text/javascript"></script>
