---
title: "Get a power savings quote - Powershop, a better power company"
section: "residential"
---

  <section class="header-background white-type text-center magenta">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="padding">
                <img src="../assets/images/resi/resi-quote.png" alt="residential savings quote" title="150 Free Power and Savings Guarantee over the year" />
            </div>
        </div>
    </div>
</section>
<section class="light-grey mobile-white">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="row text-center padding white promo-body">
                <div class="small-12 small-centered medium-9 columns end">
                    <h2 class="medium-pink-type">See how much you could save with Powershop</h2>
                    <p class="big">Upload a recent electricity bill and one of our friendly crew will get back to you shortly with a savings quote</p>
                </div>
            </div>
            <div class="row white promo-body">
                <div class="small-12 small-centered medium-6 columns end">
                    <script type="text/javascript" src="https://powershop.formstack.com/forms/js.php/aonov17display"></script><noscript><a href="https://powershop.formstack.com/forms/aonov17display" title="Online Form">Online Form - aodisplay</a></noscript>
                    <p>Advertised average savings based on annual cost comparison between Powershop and MBIE’s August 2017 Quarterly Survey of Domestic Electricity Prices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="header-background light-grey">
    <div class="row">
        <div class="small-12 small-centered columns padding end">
            <h3 class="margin-zero">Ready to switch now?</h3>
            <form id="promo-form" accept-charset="UTF-8" action="https://secure.powershop.co.nz/signup/personal_details" method="post">
                <input id="promotion_id" name="promotion_id" type="hidden" value="<%= current_page.data.promotionID %>" />
                <input type="checkbox" checked name="accept_ts_and_cs" id="accept_ts_and_cs" style="display: none;" />
                <p>Head straight to our <a id="sign_up_now">signup page</a>.</p>
            </form>
            <p>
              By going to our offer page we'll assume you agree<br/>
              with the <a href="#" data-reveal-id="overlay_terms_and_conditions">term and conditions</a> of this promotion.
            </p>
        </div>
    </div>
    <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
        <div class="row padding">
            <div class="small-12 small-centered medium-10 columns">
                <h2>Terms and Conditions</h2>
                <a class="close-reveal-modal">&#215;</a>
                <h4>$150 Credit:</h4>
                <p>This offer is for new customers only. You will not be eligible to receive this account credit if you’ve received credit for signing up to Powershop within the last 6 months. To receive the $150 worth of free power you need to join Powershop via this page while it is visible. Once you’ve been switched to Powershop, we will credit your account with $50 and you’ll receive a $50 credit on the 20th of each of the following two months. The three account credits worth a total of $150 are only available for use in Powershop for purchasing electricity products and cannot be refunded or redeemed for cash. If you switch away from Powershop within 6 months of becoming a customer then you will not receive any un-credited amounts under this promotion. Your eligibility for this promotion is dependent on you authorising Powershop to conduct a credit check using the details you sign up with and Powershop being satisfied with that credit check.</p>
                <h4>Savings Guarantee:</h4>
                <p>Sign up now and if you send us a bill from your old retailer for your main home we’ll guarantee that you’ll save at least $150 with Powershop over the next year. We’ll include any rebates or grants of free power we make to you as part of your guaranteed savings, such as the total $150 account credit. The bill supplied must be from 1 April 2016 or later, and if we ask you must supply an original copy of that bill. We will not guarantee savings on competitors' bills where the rates in those bills are based on real time spot market pricing. Your guaranteed savings is based on the actual cost of your electricity with Powershop over the next year for your main home, when compared to the cost of the same amount of electricity using the rates in the copy of the bill you sent us from your old retailer. This savings guarantee does not apply if within 12 months of becoming a customer: (A) you do not supply a copy of your old retailer’s bill for the property; (B) you switch away from Powershop or move to a new property supplied by Powershop; (C) we reasonably believe after viewing the original bill, or after you refuse to supply us with the original copy of the bill, that the rates in the bill copy are not genuine; (D) we reasonably believe the property in question is not your main home; (E) at the time we calculate your savings guarantee you owe Powershop more than $100 which is at least 60 days overdue (whether on this property or another property). If your metering configuration changes through the year (whether due to a change you request, an error we discover, or for any other reason) then we will use our best endeavours to replicate the cost you would have paid for your power with your old retailer by using a usage-based weighted average of your old retailer’s rates and applying this to your new metering configuration. This offer for guaranteed savings is per residential account and is not available in conjunction with any other promotional offers available through Powershop from time to time. This offer is only available while it is visible on this webpage.</p>
            </div>
        </div>
</section>
<%= partial "shared/live_help_now" %>
<%= javascript_include_tag  "modules/contact_form_for_eg" %>
