---
title: "Get a power savings quote - Powershop, a better power company"
section: "residential"
---

  <section class="header-background white-type text-center magenta">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="padding">
                <img src="../assets/images/resi/resi-quote.png" alt="residential savings quote" title="150 Free Power and Savings Guarantee over the year" />
            </div>
        </div>
    </div>
</section>
<section class="light-grey mobile-white">
    <div class="row">
        <div class="small-12 small-centered columns end">
            <div class="row text-center padding white promo-body">
                <div class="small-12 small-centered medium-9 columns end">
                    <h2 class="medium-pink-type">See how much you could save with Powershop</h2>
                    <p class="big">Upload a recent electricity bill and one of our friendly crew will get back to you shortly with a savings quote</p>
                </div>
            </div>
            <div class="row white promo-body">
                <div class="small-12 small-centered medium-6 columns end">
                    <script type="text/javascript" src="https://powershop.formstack.com/forms/js.php/aonov17display"></script><noscript><a href="https://powershop.formstack.com/forms/aonov17display" title="Online Form">Online Form - aodisplay</a></noscript>
                    <p>Advertised average savings based on annual cost comparison between Powershop and MBIE’s August 2017 Quarterly Survey of Domestic Electricity Prices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-grey">
  <div class="row padding-bottom-last">
  <div class="small-12 small-centered medium-12 columns end">
    <div class="padding">
      <%= partial "shared/got_questions" %>
      <%= partial "shared/live_help_now" %>
    </div>
  </div>
  </div>
</section>
