---
title: "Toolkit - Powershop, a better power company"
section: "residential"
---

<section class="purple white-type">
    <div class='hero-background'>
        <div class="row show-for-medium-up padding ">
            <div class="small-12 medium-5 medium-offset-6 columns">
                <h2>Use our smart online tools to take control of your power usage and save money.</h2>
            </div>
        </div>
    </div>
    <div class="show-for-small-only">
        <img src="/assets/images/toolkit/coffee-with-ipad.jpg" />
        <div class="row show-for-small-only padding text-center">
            <div class="small-12 medium-6 medium-offset-6 columns">
                <h2>Use our smart online tools to take control of your power usage and save&nbsp;money.</h2>
            </div>
        </div>
    </div>
</section>

<section id="powerpacks">
    <div class="row padding wide-gutter">
        <div class="small-12 columns text-center">
            <h2>Powerpacks – choose your&nbsp;power</h2>
        </div>
        <div class="small-12 medium-5 medium-offset-1 columns">
            <h4>If you have access to our shop, you can buy electricity in packs of power in varying sizes and costs called Powerpacks. Some can be used now and some in the future.</h4>
            <p><img alt="Compare electricity" title="Powerpacks - specials, future, green, top-up" src="/assets/images/toolkit/power-products.jpg" /></p>
            <p class="small"><em>Powerpacks available in our online shop</em></p>
        </div>
        <div class="small-12 medium-5 end columns">
            <h4>They help you do things you've never done with a power company before. You can buy:</h4>
            <ul class="list-bullet">
                <li><strong>Special Packs</strong> at low prices to save you money every now and then.</li>
                <li><strong>Future Packs</strong> that enable you to buy discounted electricity for coming months. These are great for stocking up ahead of winter and spreading your costs over the year ahead.</li>
                <li><strong>Top Up Packs</strong> that are always available and can be used straight away.</li>
            </ul>
        </div>
    </div>
</section>

<section id="ourshop" class="light-grey">
    <div class="row padding end">
        <div class="small-12 columns text-center">
            <h2 class="margin-zero">Our shop</h2>
            <h4>If you have access to our shop, this is where you can buy whatever Powerpacks you want, whenever you want.</h4>
        </div>
        <div class="small-12 medium-5 medium-offset-1 columns">
            <img alt="Compare electricity prices in the shop" title="Cheapest power online" src="/assets/images/toolkit/shop-for-power.jpg" />
            <h4>Rather than only paying for power when the bill arrives, using our online shop gives you more flexibility and&nbsp;choice.</h4>
            <ul>
                <li>Buy cheap specials when they are available.</li>
                <li>Pay for power when it suits you.</li>
                <li>Buy discounted power to use in future months to help smooth out costs more evenly over the year.</li>
            </ul>
        </div>
        <div class="small-12 medium-5 end columns">
            <img alt="Easy online power management" title=" Power Organiser" src="/assets/images/toolkit/power-organiser.jpg" />
            <h4>The Power Organiser helps you see exactly how much power you are buying and how many days you can expect it to last.</h4>
            <ul>
                <li>Great for planning and budgeting.</li>
                <li>Adjusts automatically as your usage changes seasonally.</li>
            </ul>
        </div>
    </div>
</section>

<section id="powerpocket" class="bigbill-blue white-type">
    <div class="row padding">
      <div class="small-12 small-centered medium-10 columns">
        <div class="small-5 small-centered medium-uncentered medium-4 large-3 columns text-center">
            <img alt="Cheapest electricity" title="Powershop in your pocket" src="/assets/images/toolkit/smartphone-app.jpg" />
        </div>
        <div class="small-12 medium-8 large-8 large-offset-1 end columns">
            <h2 class="small-text-center medium-text-left">Powershop in your&nbsp;pocket</h2>
            <p>Keep an eye on your account anywhere, anytime with our mobile app.</p>
            <p>You can check your usage on the go and, if you have access to our shop, find out when there’s a new special on offer, so you can pick up savings in an instant.</p>
            <p>And you can set up notifications so there are no surprises in the future. You'll know exactly when your next automatic payment is coming out or when our meter reader is due to visit.</p>
            <div class="row">
                <div class="small-6 small-centered medium-uncentered medium-6 large-4 columns download">
                    <a class="" href="https://itunes.apple.com/nz/app/powershop-nz/id671350293?mt=8" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'iTunes', 5]);">
                        <%= partial "/assets/images/homes/app-store.min.svg" %>
                    </a>
                </div>
                <div class="small-6 small-centered medium-uncentered medium-6 large-4 columns download-android ">
                    <a href="https://play.google.com/store/apps/details?id=nz.co.powershop.android.app" onclick="_gaq.push(['_trackEvent', 'Outgoing links', 'Apps', 'Google Play', 5]);">
                        <%= partial "/assets/images/homes/google-play.min.svg" %>
                    </a>
                </div>
                <div class="small-12 columns end">
                    <p class="small-text-center medium-text-left"><a href="/mobile-apps/" class="button small pink-button">Want to know more?</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row padding">
        <%= partial "shared/beta_test_pilot" %>
    </div>
</section>

<section>
    <div class="row padding end">
        <div class="small-12 medium-10 medium-offset-1 columns text-center">
            <h2>What do others think?</h2>
            <h4>Thousands of our customers have downloaded the Powershop mobile app since we launched it at the end of 2013. Available on both iOS and Android it gives you the convenience of checking your power usage and buying specials anywhere, anytime.</h4>
            <div id="testimonials" class="small-12 medium-10 medium-offset-1 columns testimonials end">
                <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
                    <li id="t1">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-yaman.png);"><img class="show" src="/assets/images/testimonials/ring.png"></div>
                        </a>
                    </li>
                    <li id="t2">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-sarah.png);"><img src="/assets/images/testimonials/ring.png" style="opacity: 0;"></div>
                        </a>
                    </li>
                    <li id="t3">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-paul.png);"><img src="/assets/images/testimonials/ring.png" style="opacity: 0;"></div>
                        </a>
                    </li>
                    <li id="t4">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-jodie.png);"><img src="/assets/images/testimonials/ring.png" style="opacity: 0;"></div>
                        </a>
                    </li>
                    <li id="t5">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-chris.png);"><img src="/assets/images/testimonials/ring.png" style="opacity: 0;"></div>
                        </a>
                    </li>
                    <li id="t6">
                        <a href="#">
                            <div style="background-image: url(/assets/images/testimonials/testimonial-sean.png);"><img src="/assets/images/testimonials/ring.png" style="opacity: 0;"></div>
                        </a>
                    </li>
                </ul>
                <div class="words">
                    <div id="testimonial-1" class="open">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>I love the new Powershop app and keeping track of my power consumption :) No one else has&nbsp;that&hellip;
                            <cite>Yaman, Manukau</cite>
                        </blockquote>
                    </div>
                    <div id="testimonial-2" style="display:none;">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>The new app is very slick. I’m impressed. Nice&nbsp;work!
                            <cite>Sarah, Auckland</cite>
                        </blockquote>
                    </div>
                    <div id="testimonial-3" style="display:none;">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>Awesome job on the new&nbsp;app!!
                            <cite>Paul, North Shore</cite>
                        </blockquote>
                    </div>
                    <div id="testimonial-4" style="display:none;">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>LOVE the new app&hellip; This is exactly what is&nbsp;needed!
                            <cite>Jodie, Rodney</cite>
                        </blockquote>
                    </div>
                    <div id="testimonial-5" style="display:none;">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>Just got a new iPhone and installed your app; thank you for making it! Love the special pack notifications, very&nbsp;handy!
                            <cite>Chris, Waitakere</cite>
                        </blockquote>
                    </div>
                    <div id="testimonial-6" style="display:none;">
                        <h2 class="pink quotemark">"</h2>
                        <blockquote>Love the new Powershop app, now I don’t have to log on via my PC any more. Very funky UI&nbsp;too!
                            <cite>Sean, Wellington</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="purple">
    <div style="background: transparent url(/assets/images/toolkit/tracking-usage-and-cost.jpg) center center no-repeat; background-size: cover; min-height:400px;">
    </div>
</section>

<section id="tracking">
    <div class="row padding">
        <div class="small-12 end columns">
            <h2 class="text-center">Tracking usage and&nbsp;cost</h2>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <h4>Our online tools are where Powershop can really help you get a handle on how much power you use and when you use it.</h4>
                    <ul class="list-bullet">
                        <li>Get valuable insights into what time and which activities are driving your power usage.</li>
                        <li>Gain more control over your power bill by making more informed decisions about how you use your&nbsp;power.</li>
                        <li>Awareness around your power usage can help you reduce your impact on the environment.</li>
                    </ul>
                </div>
                <div class="small-12 medium-5 medium-offset-1 columns end">
                    <h3 class="text-center">Average daily use</h3>
                    <img alt="Powershop toolkit and cheap electricity prices lower power costs" title="Daily power costs" src="/assets/images/toolkit/usage-graph.png" />
                </div>
            </div>
        </div>
</section>

<%= javascript_include_tag  "modules/testimonials" %>
