---
title: "Complaints -  Powershop, a better power company"
---

<div class="light-grey">
    <div class="row padding">
        <div class="small-12 medium-4 columns">
            <h1>Comp&shy;laints</h1>
        </div>
        <div class="small-12 medium-8 columns">
            <h4 style="padding-top: 1rem;">If you have a problem, complaint or just some feedback, we'd love to hear from you. We'll do our best to sort things out as soon as possible.</h4>
        </div>
    </div>
</div>
<div class="row padding">
    <div class="small-12 medium-8 medium-offset-4 columns">
        <h3>How to contact us</h3>
        <p>You can contact us through any of the following:</p>
        <ul>
            <li>Call one of our friendly crew at 0800 IN CONTROL (0800 462 668 – free call) between 8am and 8pm, Monday to Friday</li>
            <li>Skype us at <a href="skype:powershopnz">powershopnz</a></li>
            <li>Email us at <a href="mailto:complaints@powershop.co.nz">complaints@powershop.co.nz</a></li>
            <li>
                Write to us at:
                <br> Powershop PO Box 392,
                <br> Masterton.
                <br> C/- Contact Centre Manager
            </li>
        </ul>
    </div>
</div>
<div class="row padding">
    <div class="small-12 medium-8 medium-offset-4 columns">
        <h3>What is our complaints process?</h3>
        <p>Once we have received your complaint, we will reply to you within two working days to confirm we have received it. We’ll also decide whether we think your complaint is related to lines services, or our service. If we think your complaint is related to lines services, we’ll refer your complaint to your lines company within two working days of receiving it and tell you we have done this (as well as who will be the contact person at the lines company for resolving your complaint). The lines company will then be responsible for managing and resolving your complaint, but we will continue to monitor and facilitate the resolution of your complaint by the lines company.</p>
        <p>If we think your complaint is related to our service then from there we’ll contact you directly to work through the issue with you, and continue to update you via email. We’ll monitor your complaint progress regularly to ensure we resolve it with you as soon as possible. We aim to resolve all complaints within 20 working days.</p>
        <p>If it takes us longer than 20 working days to resolve your problem, then we’ll contact you to let you know and to give you further options.</p>
    </div>
</div>
<div class="row padding padding-bottom-last">
    <div class="small-12 medium-8 medium-offset-4 columns">
        <h3>If you&rsquo;re not satisfied</h3>
        <p>We&rsquo;re a member of The Electricity and Gas Complaints Commissioner Scheme, which is a free and independent complaints resolution scheme. If for some reason you are dissatisfied about the resolution of your complaint, or we can&rsquo;t resolve your complaint or problem within 20 working days, you can take your complaint to:</p>
        <p>The Electricity and Gas Complaints Commissioner Scheme
            <br> Freepost 192682
            <br> PO Box 5875
            <br> Lambton Quay
            <br> Wellington 6140
        </p>
        <p><a href="http://www.egcomplaints.co.nz/">www.egcomplaints.co.nz</a>
            <br />
            <a href="mailto:info@egcomplaints.co.nz">info@egcomplaints.co.nz</a>
            <br /> Free Phone: 0800 22 33 40
            <br> Free Fax: 0800 22 33 47
            <br> Phone: 64 4 914 4630
            <br> Fax: +64 4 472 5854
        </p>
        <p>You can also take your complaint to the Office of the Ombudsman, to the courts or the disputes tribunal.</p>
        <p>If your complaint is about our service and we resolve your complaint in your favour (or if the Electricity and Gas Complaints Commissioner makes a binding decision in your favour) then we are responsible for providing a remedy to you.</p>
        <p>Nothing in our complaints process takes away any rights you may have under legislation, or your right to make a claim to a court or disputes tribunal, or your right to complain to The Electricity and Gas Complaints Commissioner Scheme or the Office of the Ombudsman at any time.</p>
    </div>
</div>
