---
title: "Credit - Powershop, a better power company"
section: "residential"
promotionID: "1247"
promotionName: "$150 Credit & SG Offer (1247)"
customClass: "credit150 power-the-flat"
---

<section class="header-background white-type text-center">
  <div class="row">
    <div class="small-12 small-centered medium-10 large-8 columns end">
      <%= partial "/assets/images/promos/bribe/150-offer-white.svg" %>
    </div>
  </div>
</section>

<section class="light-grey mobile-white promo-body">
  <div class="row text-center">
    <div class="small-12 small-centered medium-11 columns end">
      <div class="row padding white">
        <div class="small-12 small-centered medium-11 columns end">
          <h2 class="pink-type titles">Sweet deal for Vic Deals</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered end columns">
              <h3>Switch to Powershop and get $150 worth of free power over your first six months. That’s a whole lot of pizza...</h3>
              <h4>Here are five other reasons Powershop is a better power company for flatters:</h4>
              <div class="row">
                <div class="small-12 small-centered medium-9 end columns">
                  <div class="key-message">
                    <p><span>Pay as you go or whenever suits the flat, with no late payment fees</span></p>
                    <p><span>Save money with our regular discounted power specials</span></p>
                    <p><span>Track your usage on the go with our mobile app</span></p>
                    <p><span>No nasty surprise bills that blow the flat budget</span></p>
                    <p><span>No fixed-term contracts</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns end">
          <div class="row white">
            <div class="small-12 small-centered medium-10 lend columns">
              <%= partial "shared/mm_mobile_call_us" %>
              <div class="padding">
                <%= partial "shared/switch_now" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay_terms_and_conditions" class="reveal-modal" data-reveal>
    <div class="row padding">
      <div class="small-12 small-centered medium-10 columns">
        <h4>$150 Credit:</h4>
        <p>This offer is for new customers only. You will not be eligible to receive this account credit if you've received credit for signing up to Powershop within the last 12 months. To receive the $150 worth of free power you need to join Powershop via this page while it is visible. Once you’ve been switched to Powershop, we will credit your account with $25 and you’ll receive a $25 credit on the 20th of each of the following five months.</p>
        <p>The six account credits worth a total of $150 are only available for use in Powershop for purchasing electricity products and cannot be refunded or redeemed for cash. If you switch away from Powershop within 6 months of becoming a customer then you will not receive any un-credited amounts under this promotion. Powershop may, at its sole discretion, decline to apply, or remove any welcome credit granted, where it reasonably believes that a customer or other residents at a property have already received a welcome credit for that property within the last 12 months. Powershop may require proof of identification or a tenancy agreement in order to verify eligibility for this offer.</p>
        <p>Your eligibility for this offer is further dependent on you agreeing to Powershop’s <a href="/terms-and-conditions/customer">customer terms and conditions</a>, and authorising Powershop to conduct a credit check using the details you sign up with and Powershop being satisfied with the results of that credit check.</p>
        <h4>Guaranteed Savings:</h4>
        <p>Sign up to Powershop now and if you send us a bill from your old retailer for your main home we'll guarantee that you'll save at least $150 with Powershop over the next year. We'll include any rebates or grants of free power we make to you as part of your Guaranteed Savings, such as the total $150 account credit. The bill supplied must be from 1 April 2017 or later and should be emailed to
        <a href="mailto:savings@powershop.co.nz">savings@powershop.co.nz</a>.
        Your Guaranteed Savings period will be for 12 months, commencing (for new customers) on the date your switch to Powershop is completed, or (for existing customers) on the date you first contact us requesting a savings guarantee ("Guaranteed Savings Period"). Guaranteed Savings will only be offered against retailers with published rates and will not apply to any additional incentives (like cash offers), or sign up deals. We will not guarantee savings against other retailers' bills where the rates in those bills are based on real time spot market pricing. Your savings guarantee is based on the actual cost of your electricity with Powershop over the Guaranteed Savings Period for your main home, when compared to the cost of the same amount of electricity using the rates in your old retailer's bill that you have provided to us.
        Certain Powershop products are priced at a premium (e.g. Airshed where the additional amount is used to purchase carbon credits). The additional cost of these products (above your Standard Power rate) is excluded from the Guaranteed Savings calculations. This means that when we calculate your spend for the purposes of the Guaranteed Savings, we will use your Standard Power rate for any premium products you purchase during the Guaranteed Savings Period.</p>
        <p>After you've with Powershop for 12 months, we'll complete a full review to make sure that you’ve saved what we promised. If you haven’t and these terms and conditions have been complied with, then we’ll put a final credit on your account.
        This savings guarantee does not apply if within your Guaranteed Savings Period: (A) you do not supply a copy of your old retailer’s bill for the property; (B) you switch away from Powershop or move to a new property supplied by Powershop; (C) we reasonably believe after viewing the original bill, or after you refuse to supply us with the original copy of the bill, that the rates in the bill copy are not genuine; (D) we reasonably believe the property in question is not your main home; (E) at the time we calculate your Guaranteed Savings you owe Powershop more than $100 which is at least 60 days overdue (whether on this property or another property).</p>
        <p>If your metering configuration changes through the year (whether due to a change you request, an error we discover, or for any other reason) then we will use our best endeavours to replicate the cost you would have paid for your power with your old retailer by using a usage-based weighted average of your old retailer’s rates and applying this to your new metering configuration. This offer for Guaranteed Savings is per residential account and is not available in conjunction with any other promotional offers available through Powershop from time to time. This offer is only available while it is visible on this webpage. Powershop at its sole discretion may amend or cease to offer Guaranteed Savings at any time without notice. In such event, any Guaranteed Savings Periods, which commenced prior to the date Powershop ceased to offer them, will continue to be honoured.</p>
        </div>
      </div>
    </div>
</section>

<section class="light-grey">
  <div class="row padding padding-bottom-last">
    <%= partial "shared/got_questions" %>
    
  </div>
</section>
