---
title: "Sitemap - Powershop, a better power company"
description: "Use this sitemap to find your way around Powershop.co.nz."
---

<section class="pink white-type">
    <div class="row padding">
        <div class="small-12 columns ">
            <h1>Sitemap</h1>
        </div>
    </div>
</section>

<section class="light-grey">
    <div class="row padding padding-bottom-last">
        <div class="small-12 columns ">
            <p><a href="/">Powershop for homes (Residential homepage)</a></p>
            <p><a href="/our-customers/">Our customers</a></p>
            <p><a href="/how-much-does-it-cost/">Prices</a></p>
            <p><a href="/toolkit/">Toolkit</a></p>
            <p><a href="/switch-now/">Switch now</a></p>
            <p><a href="/moving-house/">Moving House</a></p>
            <p><a href="/questions-answered/">Questions Answered</a></p>
            <p><a href="/contact-us/">Contact us</a></p>
            <p><a href="/contact-us/#faults">Faults</a></p>
            <p><a href="/about-us/">About us</a></p>
            <p><a href="https://blog.powershop.co.nz/">Blog</a></p>
            <p><a href="/mobile-apps/">Mobile apps</a></p>
            <p><a href="/privacy-policy/">Privacy policy</a></p>
            <p><a href="/terms-and-conditions/">Terms &amp; Conditions</a></p>
            <p><a href="/fees/">Fees</a></p>
            <p><a href="/refunds/">Refunds</a></p>
            <p><a href="/complaints/">Complaints process</a></p>
            <br>
            <p><a href="/business/">Powershop for business (Business homepage)</a></p>
            <p><a href="/business/moving-premises/">Moving premises?</a></p>
        </div>
    </div>
</section>
