---
title: "Sitemap - Powershop, a better power company"
description: "Use this sitemap to find your way around Powershop.co.nz."
---

<section class="pink white-type">
    <div class="row padding">
        <div class="small-12 columns ">
            <h1>Sitemap</h1>
        </div>
    </div>
</section>

<section class="light-grey">
    <div class="row padding padding-bottom-last">
        <div class="small-12 columns ">
          <p><a href="/about-us/">About us</a></p>
          <p><a href="/business/">Business electricity</a></p>
          <p><a href="/complaints/">Complaints process</a></p>
          <p><a href="/contact-us/">Contact us</a></p>
          <p><a href="/how-much-does-it-cost/">Electricity prices</a></p>
          <p><a href="/questions-answered/">FAQs (Frequently asked questions)</a></p>
          <p><a href="/contact-us/#faults">Faults</a></p>
          <p><a href="/fees/">Fees</a></p>
          <p><a href="/savings-estimate/">Get a power savings estimate</a></p>
          <p><a href="/our-customers/">Meet our customers</a></p>
          <p><a href="/business/moving-premises/">Moving business premises</a></p>
          <p><a href="/moving-house/">Moving house</a></p>
          <p><a href="https://blog.powershop.co.nz">Powershop blog</a></p>
          <p><a href="/mobile-apps/">Powershop mobile app</a></p>
          <p><a href="/privacy-policy/">Powershop privacy policy</a></p>
          <p><a href="/terms-and-conditions/">Powershop terms &amp; conditions</a></p>
          <p><a href="/toolkit/">Powershop toolkit</a></p>
          <p><a href="/">Powershop: A better power company</a></p>
          <p><a href="/friends/">Refer your friends to Powershop</a></p>
          <p><a href="/refunds/">Refunds</a></p>
          <p><a href="/classic/">Sign up for Powershop Classic</a></p>
          <p><a href="/lite/">Sign up for Powershop Lite</a></p>
          <p><a href="/150_Credit_SG_Homepage/">Sign up now</a></p>
          <p><a href="/switch-now/">Switch now</a></p>
          <p><a href="/whodoeswhat/">What's in your power price?</a></p>
          <p><a href="/power-company/">Why is Powershop a better power company?</a></p>
        </div>
    </div>
</section>
