---
title: "Contact Us - Powershop, a better power company"
---

<section class="magenta">
    <div class="row padding">
        <div class="small-12 small-centered medium-9 columns end">
            <h1 class="text-center white-type">Get real help from real people</h1>
        </div>
    </div>
</section>
<section>
    <div class="row padding">
        <div class="small-12 medium-6 columns">
            <h3 class="margin-zero">Existing customers</h3>
            <p>Talk to us between 8am &mdash; 8pm Monday to Friday</p>
            <h3 class="pink-type margin-zero"><span class="psui-icon-phone-lowercase"></span>0800&nbsp;462&nbsp;668</h3>
            <p class="margin-zero" style="margin-left: 1.6em;">0800&nbsp;IN&nbsp;CONTROL</p>
            <h3 class="pink-type margin-zero"><span class="psui-icon-fax-lowercase"></span>04 472&nbsp;9979</h3>
            <h3 class="pink-type"><span class="psui-icon-skype-lowercase"></span>Skype: <a href="skype:powershopnz">powershopnz</a></h3>
            <h3 class="margin-zero">Not a customer</h3>
            <p class="margin-bottom-half">Call us to find out more about Powershop</p>
            <h3 class="pink-type"><span class="psui-icon-phone-lowercase"></span>0800 1000&nbsp;60</h3>
            <h3 class="margin-zero">Overseas caller?</h3>
            <h3 class="pink-type"><span class="psui-icon-phone-lowercase"></span>+64 6 377 2165</h3>
        </div>
        <div class="small-12 medium-6 columns end">
            <h3>Contact us at any time</h3>
            <p>We will get back to you within two working days.</p>
            <script src="/assets/javascripts/modules/contact_form.js" type="text/javascript"></script>
            <form id="contact" method="post" action="https://secure.powershop.co.nz/contact_us/create" onsubmit="return checkContactForm();">
                <fieldset>
                    <label for="name">Name <span class="pink-type">*</span>
                        <input id="name" name="name" type="text" title="First name" size="30">
                    </label>
                    <div id="name-error-text" style="display:none;">
                        <p class="error pink-type">Name Error</p>
                    </div>
                    <label for="email">Email <span class="pink-type">*</span>
                        <input id="email" name="email" type="text" title="Email" size="30">
                    </label>
                    <div id="email-error-text" style="display:none;">
                        <p class="error pink-type">Email Error here</p>
                    </div>
                    <label for="comment">Comments <span class="pink-type">*</span>
                        <textarea id="comment" name="comment" rows="9" cols="30"></textarea>
                    </label>
                    <div id="comment-error-text" style="display:none;">
                        <p class="note pink-type">Comment Error</p>
                    </div>
                    <input id="catch-text" name="catch-text" type="text" size="30" style="display:none">
                    <div>
                        <p><a href="javascript:$('form#contact').submit(); void(0);" class="button switch">Submit</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row padding">
        <hr>
        <div class="small-12 columns">
            <a name="faults"></a>
            <h2>Faults &amp; Outages</h2>
            <p>To find your Faults and Outages contact details – first <a href="https://secure.powershop.co.nz/">login to your account</a> and then click on the 'Contact Us' button at the top right of your account page.</p>
            <p>Or, choose your area here:</p>
            <h3 class="margin-zero">Auckland customers:</h3>
            <p>Call Vector 0508 VECTOR (0508 832 867 – Free call)</p>
            <h3>Franklin customers:</h3>
            <p>Call Counties Power 0800 100 202 (Free call)</p>
            <h3>Waikato customers:</h3>
            <p>Call WEL Networks 0800 800 935 (Free call)</p>
            <h3>Rotorua and Hawkes Bay customers:</h3>
            <p>Call Unison 0800 2 UNISON (0800 286 476 – Free call)</p>
            <h3>Kapiti and Horowhenua customers:</h3>
            <p>Call 0800 LOST POWER (0800 567 876 – Free call)</p>
            <h3>Nelson Central customers:</h3>
            <p>Call 03 546 9256</p>
            <h3>Tasman customers:</h3>
            <p>Call 0800 508 100 (Free call)</p>
            <h3>Marlborough customers:</h3>
            <p>Call 03 577 7007 (Free call)</p>
            <h3>North Canterbury customers:</h3>
            <p>Call 0508 60 70 80 (Free call)</p>
            <h3>Christchurch customers:</h3>
            <p>Call 0800 363 9898 (Free call)</p>
            <h3>Timaru and Mackenzie customers:</h3>
            <p>Call 0800 66 11 77 (Free call)</p>
            <h3>Waitaki customers:</h3>
            <p>Call 0800 44 02 20 (Free call), or 03 433 0065 during normal business hours</p>
            <h3>Invercargill &amp; Bluff customers:</h3>
            <p>Call PowerNet 0800 808 587 (Free call)</p>
            <h3>Customers in all other areas:</h3>
            <p>Call 0800 IN CONTROL (0800 462 668 – Free call) Select 1 for faults</p>
        </div>
    </div>
    <div class="row padding padding-bottom-last">
        <hr />
        <div class="small-12 columns">
            <h2>Postal address</h2>
            <h4>
              Powershop<br />
              PO Box 7651<br />
              Newtown<br />
              Wellington 6242
            </h4>
        </div>
    </div>
</section>
