---
title: "Thank You - Powershop, a better power company"
---

<section class="magenta">
    <div class="row padding">
        <div class="small-12 small-centered medium-9 columns end">
            <h1 class="text-center white-type">Thanks for contacting us</h1>
        </div>
    </div>
</section>
<section>
    <div class="row padding padding-bottom-last">
        <div class="small-12 text-center columns">
            <h3>We will get back to you with your requests within 2 working days.</h3>
        </div>
    </div>
</section>
