---
title: "Customer Terms and Conditions - Powershop, a better power company"
description: "View our current Customer Terms and Conditions."
---

<div class="light-grey">
    <div class="row padding">
        <div class="small-12 columns">
            <h1>Customer Terms &amp; Conditions</h1>
        </div>
    </div>
</div>
<div class="row padding padding-bottom-last">
    <div class="small-12 columns">
        <p><a href="/assets/pdfs/2016-02-10-Terms-and-Conditions-Customer.pdf" target="_blank" rel="noopener noreferrer"><i class="psui-icon-pdf-uppercase"></i>Powershop Customer Terms and Conditions effective from 10 February 2016 <small>(PDF 431kB)</small></a></p>
    </div>
</div>
